Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

kata-monitor: skip test on BAREMETAL CI jobs
  functional/kata-monitor/run.sh
Owners: @kata-containers/functional-tests

metrics: Update lower limit for boot time
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

ci: Fixed: convert nodename to lower case to match kubectl
  integration/kubernetes/init.sh
  integration/kubernetes/k8s-block-volume.bats
  integration/kubernetes/vfio.sh
Owners: @kata-containers/integration-tests

metrics: Remove network common script
  metrics/network/lib/network-common.bash
Owners: @kata-containers/metrics

tracing: Update tracing configuration script
  .ci/configure_tracing_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Keep old config when setting up Docker
  cmd/container-manager/manage_ctr_mgr.sh
Owners: @kata-containers/tools

Update pod-config.yaml
  integration/containerd/confidential/fixtures/pod-config.yaml
Owners: @kata-containers/integration-tests

integration/k8s: Use available s390x hugepages
  integration/kubernetes/k8s-hugepages.bats
  integration/kubernetes/runtimeclass_workloads/pod-hugepage.yaml
Owners: @kata-containers/integration-tests

metrics: Update network documentation
  metrics/network/README.md
Owners: @kata-containers/metrics

CI: Create GHA to add PR sizing label
  .github/workflows/add-pr-sizing-label.yaml
Owners: @kata-containers/tests

release: Kata Containers 2.4.0-rc0
  VERSION
Owners: @kata-containers/release

docs: Remove doc TOCs
  .ci/README.md
  README.md
  cmd/check-markdown/README.md
  cmd/check-spelling/README.md
  cmd/checkmetrics/README.md
  cmd/github-labels/README.md
  cmd/github-labels/archive/README.md
  cmd/kata-manager/README.md
  cmd/log-parser/README.md
  metrics/README.md
  metrics/density/README.md
  metrics/network/README.md
  metrics/report/README.md
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/tools, @kata-containers/metrics

CI: Fix PR sizing label GHA
  .github/workflows/add-pr-sizing-label.yaml
Owners: @kata-containers/tests

CI: Update GHA secret name
  .github/workflows/add-pr-sizing-label.yaml
Owners: @kata-containers/tests

openshift-ci: Install dracut on build environment
  .ci/openshift-ci/build_install.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: test PR
  README.md
Owners: @kata-containers/documentation

setup: avoid appending duplicated lines to config files
  .ci/setup_env_centos.sh
Owners: @kata-containers/ci, @kata-containers/tests

scripts: Use standard here document delimiter
  .ci/install_kata_kernel.sh
  .ci/install_qemu.sh
  functional/kata-monitor/run.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests

CI: Make here document checker die on error
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: enable CI to run BATS files with 100% pass rate
  integration/cri-o/crio_skip_tests.sh
Owners: @kata-containers/integration-tests

metrics: Update README for network metrics
  metrics/README.md
Owners: @kata-containers/metrics

setup: Add "alinux" support
  .ci/install_kubernetes.sh
  .ci/setup_env_alinux.sh
  cmd/container-manager/manage_ctr_mgr.sh
  cmd/kata-manager/kata-manager.sh
  integration/containerd/cri/integration-tests.sh
  metrics/lib/common.bash
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/integration-tests, @kata-containers/metrics

ci: add CC_SKOPEO_CRI_CONTAINERD CI job type
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration/containerd: add pull image with signature verification tests
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/fixtures/container-config_signed-protected-other.yaml
  integration/containerd/confidential/fixtures/container-config_unsigned-protected.yaml
  integration/containerd/confidential/fixtures/container-config_unsigned-unprotected.yaml
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

tracing: Change variable for runtime used for ctr
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

tracing: Move tracing test to different job
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

tracing: Update which tests are disabled
  tracing/test-agent-shutdown.sh
  tracing/tracing-test.sh
Owners: @kata-containers/tests

integration/k8s: Drop caches before hugepages
  integration/kubernetes/k8s-hugepages.bats
Owners: @kata-containers/integration-tests

integration/containerd: Refactor confidential/agent_image tests
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

integration/containerd: use load_RUNTIME_CONFIG_PATH() throughout lib.sh
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

integration/containerd: call add_kernel_params() in enable_agent_debug()
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: Add cloud-hypervisor to the CC specific jobs
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Remove unused fio script for metrics CI
  metrics/storage/fio.sh
  metrics/storage/fio_dockerfile/Dockerfile.in
  metrics/storage/fio_dockerfile/init.sh
Owners: @kata-containers/metrics

ci: skip seccomp tests
  integration/cri-o/crio_skip_tests.sh
Owners: @kata-containers/integration-tests

ci: Refactor confidential integration tests
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

docs: Update storage README
  metrics/storage/README.md
Owners: @kata-containers/metrics

tdx: add functional test
  functional/tdx/run.sh
Owners: @kata-containers/functional-tests

checkcommits: Remove semaphore from documentation and scripts
  cmd/checkcommits/README.md
  cmd/checkcommits/checkcommits.go
  cmd/checkcommits/checkcommits_test.go
Owners: @kata-containers/tools

Vagrantfile: add support to Centos Stream 8
  Vagrantfile
Owners: @kata-containers/tests

ci: Enable confidential lib.sh for non-root
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
