Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

stable-3.0: update links to stable-3.0
  .ci/ci-fast-return.sh
  .ci/lib.sh
  .ci/static-checks.sh
  README.md
  cmd/github-labels/labels.yaml.in
  cmd/history/history.sh
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/tools, @kata-containers/release

sev: kbs: update sev test with kbs tag
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

kubernetes: allow to change the runtimeClassName in tests
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/fixtures/pod-config.yaml.in
  integration/kubernetes/confidential/fixtures/pod-config_signed-protected-other.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-protected.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-unprotected.yaml
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

kubernetes/confidential: remove uneeded https handler
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

ci: Add skopeo guard to config change
  integration/containerd/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

sev: bats test for operator integration
  integration/kubernetes/confidential/fixtures/encrypted-image-tests.yaml
  integration/kubernetes/confidential/fixtures/unencrypted-image-tests.yaml
  integration/kubernetes/confidential/sev.bats
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

functional/sev: fix error cloning repositories
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

metrics: Update boot time test
  metrics/time/launch_times.sh
Owners: @kata-containers/metrics

just for test dragonball on Arm
  .ci/install_kata.sh
  .ci/install_kata_kernel.sh
  test_dragonball
Owners: @kata-containers/ci, @kata-containers/tests

k8s: Increase default timeout for CC tests
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

metrics: Add metric selection function
  .ci/run_metrics_PR_ci.sh
Owners: @kata-containers/ci, @kata-containers/tests

runtime-rs: enable k8s inotify test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

metrics: Adjust limits for FIO tests
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

ci: Fix skopeo set-up
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

release: Kata Containers 3.0.0-rc1
  VERSION
Owners: @kata-containers/release

runtime-rs: enable kubectl cp test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

integration: Skip cri containerd, nydus and kata monitor integration tests
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

sev: fix KBS_DB_HOST ip retrieval
  functional/sev/run.sh
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/functional-tests, @kata-containers/integration-tests

runtime-rs: enable k8s-empty-dirs.bats test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

release: Kata Containers 2.5.2
  VERSION
Owners: @kata-containers/release

ci: Skip additional tests on cri-o CI
  integration/cri-o/crio_skip_tests.sh
Owners: @kata-containers/integration-tests

ci: Add label selector to pod listing
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

ci: Remove duplicated flags in clh jobs
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

openshift-ci: fix build of QEMU
  .ci/openshift-ci/qemu-build-pre.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: Update network readme
  metrics/network/README.md
Owners: @kata-containers/metrics

tests: Improve the clean_env_ctr function for the soak parallel test
  lib/common.bash
  stability/soak_parallel_rm.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add user agent back into curl request
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.0.0
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.1.0-alpha0
  VERSION
Owners: @kata-containers/release

static-check: ignore URL of intel.com
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Remove comment in Dockerfile for blogbench
  metrics/storage/blogbench_dockerfile/Dockerfile.in
Owners: @kata-containers/metrics

tests: Remove unused sanity script
  sanity/check_sanity.sh
Owners: @kata-containers/tests

ci: add nydus test for dragonball
  .ci/run.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

virtiofsd: Do not install rust
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/lib: add build_static_artifact_and_install()""
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_virtiofsd: call build_static_artifact_and_install()""
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_runtime: build and install with kata-deploy""
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_qemu: install tdvf alongside QEMU""
  .ci/install_qemu.sh
  .ci/install_tdvf.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_qemu: build and install with kata-deploy""
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_kata_image: build and install with kata-deploy""
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
