Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

Removed the ERROR prefix from the error messages.
  .gitignore
  cmd/check-markdown-rs/src/main.rs
  cmd/check-markdown-rs/target/debug/check-markdown-rs.d
Owners: @kata-containers/tests, @kata-containers/tools

updated readme files
  cmd/check-markdown-rs/README.md
  cmd/check-markdown-rs/src/README.md
Owners: @kata-containers/tools

Fixed SRC being using in input_file_path.
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

updated readme
  cmd/check-markdown-rs/src/README.md
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

containerd: Update prefix
  .ci/configure_containerd_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Accept-encoding 'none' instead of 'br'
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration: cleanup apt files
  integration/kubernetes/cleanup_bare_metal_env.sh
Owners: @kata-containers/integration-tests

Added line number's to be output in error messages where the error occurred in the markdown doc
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

updated to validate links
  cmd/check-markdown-rs/Cargo.toml
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

Fixed one small indentatio error
  cmd/check-markdown-rs/Cargo.lock
  cmd/check-markdown-rs/src/README.md
  cmd/check-markdown-rs/src/TEST.md
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

added helper functions. fixed deleted readme.md
  cmd/README.md
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

Added heading titles and file names to the document heaing validation function.
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

ci/teardown: Enable tracing
  .ci/teardown.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Switch to GET for URL checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/teardown: Add strace to procenv call
  .ci/teardown.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove uses of procenv
  .ci/setup_env_alinux.sh
  .ci/setup_env_centos.sh
  .ci/setup_env_fedora.sh
  .ci/setup_env_rhel.sh
  .ci/setup_env_ubuntu.sh
  .ci/teardown.sh
Owners: @kata-containers/ci, @kata-containers/tests

added comments. fixed one of james's comments
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

split into multiple files
  cmd/check-markdown-rs/src/main.rs
  cmd/check-markdown-rs/src/node.rs
  cmd/check-markdown-rs/src/output.rs
  cmd/check-markdown-rs/src/stats.rs
  cmd/check-markdown-rs/src/toc.rs
  cmd/check-markdown-rs/src/validate.rs
Owners: @kata-containers/tools

install command avoid target line being incorrect
  cmd/check-markdown-rs/README.md
Owners: @kata-containers/tools

vfio: Match 'Virtio 1.0 network device' device name
  functional/vfio/run.sh
Owners: @kata-containers/functional-tests

docs: Include Pytorch benchmark metrics
  metrics/machine_learning/README.md
Owners: @kata-containers/metrics

spellcheck: Add Pytorch to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

Added copyright (c) to rust files
  cmd/check-markdown-rs/src/main.rs
  cmd/check-markdown-rs/src/node.rs
  cmd/check-markdown-rs/src/output.rs
  cmd/check-markdown-rs/src/stats.rs
  cmd/check-markdown-rs/src/toc.rs
  cmd/check-markdown-rs/src/validate.rs
  cmd/check-markdown-rs/target/debug/check-markdown-rs.d
Owners: @kata-containers/tools

Added the functionaity for H1 heading errors to ouput line number + other requested freatures.
  cmd/check-markdown-rs/src/node.rs
  cmd/check-markdown-rs/src/output.rs
  cmd/check-markdown-rs/src/toc.rs
  cmd/check-markdown-rs/src/validate.rs
Owners: @kata-containers/tools

metrics: Add Pytorch Isoneural test
  metrics/machine_learning/pytorch.sh
Owners: @kata-containers/metrics

ci: Ignore license header check for *.bin files
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Enable cookie store for curl
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Fix tensorflow json results
  metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/metrics

release: Kata Containers 3.1.1
  VERSION
Owners: @kata-containers/release

crio: Update cri-o prefix
  .ci/configure_crio_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add build arg with proxys for docker build command
  metrics/lib/common.bash
Owners: @kata-containers/metrics

cleaned up unused methads and variables
  cmd/check-markdown-rs/src/node.rs
  cmd/check-markdown-rs/src/output.rs
  cmd/check-markdown-rs/src/stats.rs
  cmd/check-markdown-rs/src/toc.rs
  cmd/check-markdown-rs/src/validate.rs
Owners: @kata-containers/tools

stability: Use variables defined in common
  stability/cassandra_stress.sh
Owners: @kata-containers/tests

tests: Sstop running `make kubernetes` with containerd
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.2.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.1.2
  VERSION
Owners: @kata-containers/release

metrics: Update c-ray dockerfile
  metrics/disk/c-ray/Dockerfile
Owners: @kata-containers/metrics

qemu: Fix TDX build
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Fetch k8s gpg key from dl.k8s.io
  .ci/install_kubernetes.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: run.sh: Remove "&&" operators from tests conditionals
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
