Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

ci/install_cloud_hypervisor: call build_static_artifact_and_install()
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_cloud_hypervisor: install td-shim alongside clh
  .ci/install_cloud_hypervisor.sh
  .ci/install_kata.sh
  .ci/install_td_shim.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib: set kata_default_branch to CCv0
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

confidential/lib: ensure the kata containers repo is cloned
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

release: Kata Containers 2.5.1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.0.0-alpha1
  VERSION
Owners: @kata-containers/release

ubuntu: Always install python3
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add support for ubuntu 22.04
  .ci/run.sh
  .ci/setup_env_ubuntu.sh
  functional/kata-monitor/run.sh
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
  functional/vcpus/default_vcpus_test.sh
  integration/ksm/ksm_test.sh
  integration/kubernetes/k8s-hugepages.bats
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests, @kata-containers/integration-tests

CCv0|static-checks: Allow Merge commit to be >75 chars
  .github/workflows/commit-message-check.yaml
Owners: @kata-containers/tests

kubernetes/lib: fix regex in retrieve_sandbox_id()
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

metrics: Remove persistent volume in Cassandra
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/metrics

versions: Update cni plugins version
  .ci/install_cni_plugins.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

Revert "ci/install_cloud_hypervisor: install td-shim alongside clh"
  .ci/install_cloud_hypervisor.sh
  .ci/install_kata.sh
  .ci/install_td_shim.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_qemu: install tdvf alongside QEMU"
  .ci/install_kata.sh
  .ci/install_qemu.sh
  .ci/install_tdvf.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_kata_kernel: build and install with kata-deploy"
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_qemu: build and install with kata-deploy"
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_virtiofsd: call build_static_artifact_and_install()"
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_cloud_hypervisor: call build_static_artifact_and_install()"
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_runtime: build and install with kata-deploy"
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/install_kata_image: build and install with kata-deploy"
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "ci/lib: add build_static_artifact_and_install()"
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

do-not-merge-testing: Testing the limits of pr-size token
  .github/workflows/check-token-limits.yaml
Owners: @kata-containers/tests

ci: Add sudo's to kata-runtime commands in CC code
  lib/common.bash
Owners: @kata-containers/ci

docs: Include read and write percentile measurements
  metrics/README.md
Owners: @kata-containers/metrics

metrics: Fix the jitter value
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Add init_env to latency test
  metrics/network/latency_kubernetes/latency-network.sh
Owners: @kata-containers/metrics

ci: introduce CC_SEV_CRI_CONTAINERD_K8S job type
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

install_kata_image: enable initrd testing option
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

Makefile: add cc-sev-containerd target
  Makefile
Owners: @kata-containers/tests

metrics: Enable memory inside container repetitive exec. and csv results
  metrics/density/memory_usage_inside_container.sh
Owners: @kata-containers/metrics

ovmf: add test call for sev ovmf install
  .ci/install_kata.sh
  .ci/install_ovmf_sev.sh
Owners: @kata-containers/ci, @kata-containers/tests

sev: kbs: update kbs to use docker-compose
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

sev: add sev test and update run.sh
  .ci/ci_job_flags.sh
  .ci/install_kata_kernel.sh
  .ci/install_runtime.sh
  functional/sev/fixtures/agent-config.toml
  functional/sev/run.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests

spell-check: Add crictl to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

spell-check: Add crictl to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

release: Kata Containers 3.0.0-rc0
  VERSION
Owners: @kata-containers/release

ci: Update scripts that set-up sig ver
  integration/confidential/fixtures/offline-fs-kbc/aa-offline_fs_kbc-resources.json
  integration/confidential/lib.sh
  integration/containerd/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: Update log assert lib fns
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/asserts.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

test: Remove skopeo test skips
  integration/containerd/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: Update CC job flags
  .ci/ci_job_flags.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
