Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

ci: Add generic user agent to check_url
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: delete space in command string
  metrics/storage/fio-k8s/pkg/k8s/k8s.go
Owners: @kata-containers/metrics

common: Improve ctr cleanup
  lib/common.bash
Owners: @kata-containers/ci

metrics: Delete iperf3 server and client pods
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/metrics

metrics: Use clean_env_ctr function in memory script
  metrics/density/memory_usage.sh
Owners: @kata-containers/metrics

metrics: Enable read percentile fio metrics
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/tools, @kata-containers/metrics

ci: build rust runtime for dragonball hypervisor
  .ci/install_kata.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: support CI test for dragonball hypervisor
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
  integration/containerd/cri/integration-tests.sh
  integration/kubernetes/run_kubernetes_tests.sh
  lib/common.bash
  stability/soak_parallel_rm.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: add sudo when compile runtime-rs and enable k8s-seccomp.bats
  .ci/install_runtime.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: check if VC_POD_DIR exists before checking the files in VC_POD_DIR
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

ci: install rust for runtime-rs
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: change privilege for runtime-rs
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Update ctr shim path for RunC
  metrics/density/memory_usage.sh
Owners: @kata-containers/metrics

CC: Add protoc to dependencies
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: fix bug for default_vcpus_test.sh
  functional/vcpus/default_vcpus_test.sh
Owners: @kata-containers/functional-tests

metrics: Enable write io and bw for FIO metrics
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/tools, @kata-containers/metrics

docs: Update network metrics document
  metrics/network/README.md
Owners: @kata-containers/metrics

fw/arm64: speed up installation of UEFI image
  .ci/aarch64/install_rom_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib: clean up rust environment before test
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Increase midval of memory-footprint and memory-footprint-ksm
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

release: Kata Containers 2.5.0
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.0.0-alpha0
  VERSION
Owners: @kata-containers/release

metrics: Update fast footprint script
  metrics/density/fast_footprint.sh
Owners: @kata-containers/metrics

ci: don't setup kata environment for unit test and snap test
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

fc: fix uncompressed dir path
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: move nydus test to after stability
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Skip nydus integration test
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

nydus: upgarde nydus version
  .ci/run.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

fc: fix uncompressed dir path
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: Update main readme for metrics
  metrics/README.md
Owners: @kata-containers/metrics

ci: Remove CentOS setup script
  .ci/setup_env_centos.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_runtime: remove machine type handler
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_runtime: remove use_vsock option handler
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: remove unecessary exports
  .ci/openshift-ci/build_install.sh
Owners: @kata-containers/ci, @kata-containers/tests

WIP: ci/install_runtime: do not load vhost_vsock
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Correct misspelled word in runk tests
  integration/containerd/runk/runk-tests.sh
Owners: @kata-containers/integration-tests

metrics: Enable write FIO percentiles
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/tools, @kata-containers/metrics

ci/install_runtime: fix unbound variable
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Group the CC_CRI_CONTAINERD* jobs together
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add flags for testing CC jobs with devmapper
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests
