Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

ci: test: containerd: agent_image cleanup
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

agent_image: Re-order kubernetes tests
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

tests: snp | sev: Add sleep
  .ci/containerd_nydus_setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: sev | snp: Increase pod ready timeout
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

ci: stability: Disable soak parallel
  Makefile
Owners: @kata-containers/tests

CC: Skip test pulling image inside guest temporarily for IBM SE
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

tests: Remove empty offline_kbc workaround
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

add rootfs debug
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

Add dummy copy to guest to make fabiano happy
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

hail mary: Add kubectl describe pods to help debug
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

ci: Ensure we have yq installed
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Set io.containerd.cri.runtime-handler annotation
  integration/kubernetes/confidential/fixtures/pod-config-secret.yaml.in
  integration/kubernetes/confidential/fixtures/pod-config.yaml.in
  integration/kubernetes/confidential/fixtures/service.yaml.in
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

agent_image: Update the expected error message
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

nydus: cleanup
  integration/kubernetes/cleanup_env.sh
Owners: @kata-containers/integration-tests

ci/openshift-ci: Add wrapper to ignore invariant failures
  .ci/openshift-ci/wrapper-openshift-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: test: k8s: agent_image rootfs check
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

check-spelling: Add gh project
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

correct tarball build directory
  .ci/aarch64/configuration_aarch64.yaml
  .ci/aarch64/install_rom_aarch64.sh
  .ci/install_kata_kernel.sh
  .ci/install_qemu.sh
  .ci/lib.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

add k8s test back on arm
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

disable k8s-seccomp and k8s-empty-dirs test on aarch64
  .ci/aarch64/configuration_aarch64.yaml
Owners: @kata-containers/ci, @kata-containers/tests

add k8s-empty-dirs test
  .ci/aarch64/configuration_aarch64.yaml
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Add exceptions for migration
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Move curl to a separate function
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: Try multiple user agents
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-webhook: update dependencies
  kata-webhook/Dockerfile
  kata-webhook/go.mod
  kata-webhook/go.sum
Owners: @kata-containers/tests

ci/openshift-ci: Tweak test.sh to run with kubernetes
  .ci/openshift-ci/cluster/install_kata.sh
  .ci/openshift-ci/run_smoke_test.sh
  .ci/openshift-ci/smoke/service_kubernetes.yaml
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Decrease the sleep_time
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Use busy loop to check service availability
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Enable selinux in CI runs
  .ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
  .ci/openshift-ci/cluster/install_kata.sh
  .ci/openshift-ci/test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Use loop instead of curl --retry-all-errors
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Remove the expected results file before the loop
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Improve the service-up detection
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Add debug output on HTTP service failure
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

install: adding packages required by latest qemu 8.2.1 build
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Switch to pkgs.k8s.io
  .ci/install_kubernetes.sh
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Install clang in the ci environments
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Install protobuf-compiler in the ci environment
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

drop: ci just a test
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

install: adding packages required by latest qemu 8.2.1 build
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Improve the service-up detection
  .ci/openshift-ci/run_smoke_test.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
