Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

metrics: Add tensorflow Dockerfile
  metrics/machine_learning/tensorflow_dockerfile/Dockerfile
Owners: @kata-containers/metrics

ci: Set cc_kbc as the AA_KBC type for TDX
  .ci/ci_job_flags.sh
  .ci/install_kata_image.sh
  integration/confidential/lib.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

metrics: Use CTR_EXE variable in cray script
  metrics/disk/c-ray/cray.sh
Owners: @kata-containers/metrics

metrics: Update tensorflow benchmark
  metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/metrics

kubernetes/confidential: Use resources from clone repo
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

SEV: Make SEV tests work with resource URI
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

ci: Set cc_kbc as the AA_KBC type for TDX
  .ci/ci_job_flags.sh
  .ci/install_kata_image.sh
  integration/confidential/lib.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

fixtures/offline-fs-kbc: Fix default/security-policy/test field
  integration/confidential/fixtures/offline-fs-kbc/s390x/aa-offline_fs_kbc-resources.json
  integration/confidential/fixtures/offline-fs-kbc/x86_64/aa-offline_fs_kbc-resources.json
Owners: @kata-containers/integration-tests

kubernetes/confidential: Remove special handling for image
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

fixtures/offline-fs-kbc: Fix resource id for gpg-public-key in s390x
  integration/confidential/fixtures/offline-fs-kbc/s390x/aa-offline_fs_kbc-resources.json
Owners: @kata-containers/integration-tests

kubernetes/confidential/sev: Use :multi-arch-encrypted image tag
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

metrics: Update footprint data script
  metrics/density/footprint_data.sh
Owners: @kata-containers/metrics

metrics: Add AxelNet model test for tensorflow
  metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/metrics

metrics: Add Tensorflow documentation
  metrics/machine_learning/README.md
Owners: @kata-containers/metrics

docs: Add machine learning test to general metrics README
  metrics/README.md
Owners: @kata-containers/metrics

spellcheck: Add tff_cnn_benchmarks to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

metrics: Add http_proxy to docker build arguments
  metrics/lib/common.bash
Owners: @kata-containers/metrics

added file
  cmd/check-markdown-rs/main.rs
Owners: @kata-containers/tools

skeleton files
  cmd/check-markdown-rs/Cargo.toml
  cmd/check-markdown-rs/README.md
  cmd/check-markdown-rs/main.rs
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tools

lib: Disable debug when CI fails
  lib/error.sh
Owners: @kata-containers/ci

test-agent-shutdown: Show the content of the log file
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

test-agent-shutdown: Do not ignore-case on validate_agent()
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

metrics: Add Pytorch Dockerfile
  metrics/machine_learning/pytorch_dockerfile/Dockerfile
Owners: @kata-containers/metrics

metrics: Add pytorch script
  metrics/machine_learning/pytorch.sh
  metrics/machine_learning/pytorch_dockerfile/Dockerfile
Owners: @kata-containers/metrics

metrics: Update webtooling script
  metrics/storage/webtooling.sh
Owners: @kata-containers/metrics

CC: Add image signature tests for SEV Inserts resource information to kbs for signing adds example cosign and policy files to be used along with signing tests
  integration/kubernetes/confidential/fixtures/cosign.pub
  integration/kubernetes/confidential/fixtures/policy.json
  integration/kubernetes/confidential/sev.bats
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

vfio: Upgrade to newer version of fedora for vfio test
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Image Cache Versioning
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: cgroupV2 works with Kata
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Remove runtime disable
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Adjust mount points
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Add check for intel_iommu
  .ci/vfio_jenkins_job_build.sh
  functional/vfio/run.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests

CI: Support cross-compilation for rust installation
  .ci/kata-arch.sh
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

latest code
  cmd/check-markdown-rs/Cargo.lock
  cmd/check-markdown-rs/Cargo.toml
  cmd/check-markdown-rs/src/main.rs
  cmd/check-markdown-rs/src/main_from_go.rs
  cmd/check-markdown-rs/src/validate_structure.rs
  cmd/check-markdown-rs/target/.rustc_info.json
  cmd/check-markdown-rs/target/debug/check-markdown-rs.d
Owners: @kata-containers/tools

Delete main_from_go.rs
  cmd/check-markdown-rs/src/main_from_go.rs
Owners: @kata-containers/tools

Delete validate_structure.rs
  cmd/check-markdown-rs/src/validate_structure.rs
Owners: @kata-containers/tools

Commit attempt number 14. Lets see how this goes.
  .gitignore
  cmd/check-markdown-rs/Cargo.toml
  cmd/check-markdown-rs/src/main.rs
Owners: @kata-containers/tests, @kata-containers/tools

Delete .rustc_info.json
  cmd/check-markdown-rs/target/.rustc_info.json
Owners: @kata-containers/tools

Delete CACHEDIR.TAG
  cmd/check-markdown-rs/target/CACHEDIR.TAG
Owners: @kata-containers/tools

cri: Remove container_restart_test.go.patch
  integration/containerd/cri/container_restart_test.go.patch
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
