Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

metrics: Adjust blogbench value for cloud hypervisor
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

k8s: Wait for k8s replication controller to show up
  integration/kubernetes/k8s-replication.bats
Owners: @kata-containers/integration-tests

ci,clh: Set DEFAULT_HYPERVISOR on kata reinstall
  .ci/ci_clh_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

labels: Remove unused github label
  cmd/github-labels/archive/labeler-original-labels-kata-containers-tests.yaml
Owners: @kata-containers/tools

tdx: Fix TDX availability message
  functional/tdx/run.sh
Owners: @kata-containers/functional-tests

tdx: Make it clear the tests is QEMU specific
  functional/tdx/run.sh
Owners: @kata-containers/functional-tests

doc: Add "scalability" to the dictionary
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

log-parser: unpack all agent fields
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

labels: Update url links for github labels
  cmd/github-labels/labels.yaml.in
Owners: @kata-containers/tools

tracing: Enable test in x86_64 only
  tracing/test-agent-shutdown.sh
  tracing/tracing-test.sh
Owners: @kata-containers/tests

tracing: Enable agent tracing in test
  tracing/tracing-test.sh
Owners: @kata-containers/tests

tracing: Clean up tmux sessions in agent shutdown test
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

ci: Add QEMU + devmapper CI
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add USE_DEVMAPPER flag
  .ci/ci_job_flags.sh
  .ci/containerd_devmapper_setup.sh
  .ci/setup.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: Add cloud-hypervisor + devmapper CI
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Attempt to fix git error
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration/containerd: use container asserts on agent_api tests
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/asserts.sh
Owners: @kata-containers/integration-tests

tests: add test case for kata agent API configuration
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/fixtures/agent-configuration-no-exec.toml
  integration/containerd/confidential/run_tests.sh
  lib/common.bash
Owners: @kata-containers/integration-tests, @kata-containers/ci

integration/containerd: introduce the asserts.sh library
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/asserts.sh
Owners: @kata-containers/integration-tests

integration/containerd: use assert_logs_contain() in agent_api tests
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/asserts.sh
Owners: @kata-containers/integration-tests

ci: Add TEE_TYPE flag for TEE enabled kernel/hypervisor
  .ci/install_kata.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration/containerd: add handler for initrd image on cp_to_guest_img()
  lib/common.bash
Owners: @kata-containers/ci

tests: fix unsafe repository for new versions of git
  .ci/aarch64/lib_install_qemu_aarch64.sh
  .ci/install_cri_containerd.sh
  .ci/install_qemu.sh
  .ci/lib.sh
  .ci/ppc64le/lib_install_qemu_ppc64le.sh
Owners: @kata-containers/ci, @kata-containers/tests

kubernetes: Fix syntaxis for qos tests
  integration/kubernetes/k8s-qos-pods.bats
Owners: @kata-containers/integration-tests

Makefile: add cc-containerd target
  Makefile
Owners: @kata-containers/tests

ci: add CC_CRI_CONTAINERD job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Makefile: disable the cc-containerd target
  Makefile
Owners: @kata-containers/tests

ci: Add cloud-hypervisor to the CC specific jobs
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: run all containerd tests on the CC build
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: remove skopeo and umoci references
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

build: introduce the KATA_BUILD_CC build variable
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/ci_job_flags.sh: Do not set SECCOMP=yes on CC jobs
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/ci_job_flags.sh: Do not set SECCOMP=yes on CC jobs
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

scripts: fix git security issue when install qemu for arm64
  .ci/aarch64/lib_install_qemu_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

tdx: Create a common file for tdx functions
  functional/tdx/lib/common-tdx.bash
  functional/tdx/run.sh
Owners: @kata-containers/functional-tests

metrics: Add cassandra benchmark
  metrics/disk/cassandra_kubernetes/cassandra.sh
  metrics/disk/cassandra_kubernetes/runtimeclass_workloads/cassandra-service.yaml
  metrics/disk/cassandra_kubernetes/runtimeclass_workloads/cassandra-statefulset.yaml
  metrics/disk/cassandra_kubernetes/runtimeclass_workloads/local-volumes.yaml
Owners: @kata-containers/metrics

agent-shutdown: remove trace mode configuration
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

tests: fix unsafe repository for new versions of git
  .ci/aarch64/lib_install_qemu_aarch64.sh
  .ci/install_cri_containerd.sh
  .ci/install_qemu.sh
  .ci/lib.sh
  .ci/ppc64le/lib_install_qemu_ppc64le.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Enable ci build behind firewall
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: Add CC Kubernetes job flags Adds flags for new K8s job types Fixes: #4557 Signed-off-by: Megan Wright <megan.wright@ibm.com> Co-authored-by: Georgina Kinge <georgina.kinge@ibm.com>
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
