Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

ci: Set eaa_kbc as the AA_KBC type for TDX
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

lib.sh: Add and use +setup_eaa_kbc_signature_files_in_guest()
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

confidential: Adapt tests for EAA KBC
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

metrics: Delete daemonset from network metrics
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/metrics

CC: defer configuring runtime config settings for kata-container CI
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

lib: Add missing sudo for ctr list
  lib/common.bash
Owners: @kata-containers/ci

install_runtime: Don't install agent-ctl for CC
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

sev: added rust installation on host
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

k8s: Fix parenthesis on init.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

ci: Remove containerd's install_from_branch()
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Update boot time for qemu
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Adjust write 95 percentile for FIO
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

kubernetes: Fix parenthesis for init.sh
  integration/kubernetes/init.sh
  metrics/density/k8s-sysbench.sh
  metrics/density/runtimeclass_workloads/sysbench-pod.yaml
Owners: @kata-containers/integration-tests, @kata-containers/metrics

runtime-rs: add upcall kernel patch into CI
  .ci/install_kata.sh
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.1.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.0.1
  VERSION
Owners: @kata-containers/release

sev: Update measurement
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

ci: add device mapper test for dragonball
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: add nydus test for dragonball
  .ci/run.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

integration: update nydusd binary name
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

cri-containerd: avoid printing containerd log twice
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

ci: pass test_type to ci_entry_point.sh
  .ci/ci_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Explicitly set the containerd config file version
  .ci/configure_containerd_for_kata.sh
  integration/containerd/cri/integration-tests.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

test: update ci system to let dragonball use upcall
  .ci/install_kata_kernel.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

Dragonball: add hugepage test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

ci: Fix CNI config file extension for cri-o testing.
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

ci: add k8s-ro-volume.bats
  integration/kubernetes/k8s-ro-volume.bats
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

ci: remove the PodOverhead feature gate for kubernetes 1.26
  integration/kubernetes/kubeadm/config.yaml
Owners: @kata-containers/integration-tests

ci: add k8s-pid-ns.bats
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

tests: add hostPath volume test for sharing files
  integration/kubernetes/k8s-file-volume.bats
  integration/kubernetes/run_kubernetes_tests.sh
  integration/kubernetes/runtimeclass_workloads/pod-file-volume.yaml
Owners: @kata-containers/integration-tests

metrics: Update sysbench pod yaml
  metrics/density/runtimeclass_workloads/sysbench-pod.yaml
Owners: @kata-containers/metrics

ci: fix CRI endpoint from file path to URL
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

metrics: Support network iperf3 cpu results
  cmd/checkmetrics/history/history.sh
Owners: @kata-containers/tools

ci: add script to configure containerd for sgx
  .ci/configure_containerd_for_sgx.sh
Owners: @kata-containers/ci, @kata-containers/tests

SEV: Fix pulling image labels
  functional/sev/run.sh
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/functional-tests, @kata-containers/integration-tests

CC: Switch from quay to ghcr for test images
  functional/sev/run.sh
  integration/kubernetes/confidential/fixtures/encrypted-image-tests.yaml
  integration/kubernetes/confidential/fixtures/unencrypted-image-tests.yaml
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/functional-tests, @kata-containers/integration-tests

versions: Update flannel to its latest release
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

integration: Adapt kubernetes/init.sh to k8s v1.25.x
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

SEV: Update kata config for online KBS
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

SEV: Build initrd with online KBC
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests
