Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

fixup! ci: Add flags for testing CC jobs with devmapper
  .ci/containerd_devmapper_setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Delete statefulset in Cassandra test
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/metrics

metrics: Update footprint data script
  metrics/density/footprint_data.sh
Owners: @kata-containers/metrics

github-actions: Remove man-db from add-pr-sizing-label
  .github/workflows/add-pr-sizing-label.yaml
Owners: @kata-containers/tests

ci: Add `install_tvdf.sh`
  .ci/install_tdvf.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add `install_td_shim.sh`
  .ci/install_td_shim.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove CCV0 flag
  .ci/ci_job_flags.sh
  .ci/install_kata_image.sh
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add new flags related to the CC work
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Install TD-Shim when testing TDX using Cloud Hypervisor
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Use specific config for TDX capable VMMs
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Adjust td-shim location
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Adjust TDVF location
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Install TDVF when testing TDX using QEMU
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add CC_CRI_CONTAINERD_TDX_QEMU job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add CC_CRI_CONTAINERD_TDX_CLOUD_HYPERVISOR job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Update help message in manage ctr mgr script
  cmd/container-manager/manage_ctr_mgr.sh
Owners: @kata-containers/tools

versions: Bump flannel to 0.19.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runk: add tests for `pause`/`resume` commands
  integration/containerd/runk/runk-tests.sh
Owners: @kata-containers/integration-tests

install_runtime: Cleanup TDX configuration
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Skip additional test from shm_size.bats
  integration/cri-o/crio_skip_tests.sh
Owners: @kata-containers/integration-tests

ci: Add CC_CRI_CONTAINERD_K8S_TDX_QEMU job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add CC_CRI_CONTAINERD_K8S_TDX_CLOUD_HYPERVISOR job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add CC_SKOPEO_CRI_CONTAINERD_K8S_TDX_QEMU job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add CC_SKOPEO_CRI_CONTAINERD_K8S_TDX_CLOUD_HYPERVISOR job
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Remove pvc in cassandra metrics test
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/metrics

ci/lib: run kata-runtime as non-sudo in cp_to_guest_img()
  lib/common.bash
Owners: @kata-containers/ci

ci: Add authentication to check_url
  .ci/static-checks.sh
  .github/workflows/main.yml
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Fix write percentiles in FIO test
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

k8s: confidential: Remove wrong documentation
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

k8s: confidential: Fix identation in `kubernetes_create_cc_pod`
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

k8s: Make confidential tests aware of the proxy
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

k8s: confidential: Respect original kernel_params
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

k8s: confidential: Increase the wait timeout to 60s
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci/install_kata_kernel: build and install with kata-deploy
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib: add build_static_artifact_and_install()
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_qemu: build and install with kata-deploy
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_virtiofsd: call build_static_artifact_and_install()
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_runtime: build and install with kata-deploy
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_qemu: install tdvf alongside QEMU
  .ci/install_kata.sh
  .ci/install_qemu.sh
  .ci/install_tdvf.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_kata_image: build and install with kata-deploy
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests
