Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

ci: update cni config
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: install cri-tools when installing containerd
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: drop go get
  .ci/ci-fast-return.sh
  .ci/install_bats.sh
  .ci/install_cni_plugins.sh
  .ci/install_cri_containerd.sh
  .ci/install_crio.sh
  .ci/jenkins_job_build.sh
  .ci/lib.sh
  .ci/resolve-kata-dependencies.sh
  .ci/static-checks.sh
  integration/containerd/cri/integration-tests.sh
  integration/cri-o/cri-o.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

versions: Update golangci-list to its latest release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

github: Run the main workflow only using go 1.19.2
  .github/workflows/main.yml
Owners: @kata-containers/tests

static-checks: use version defined in versions.yaml for golangci-lint
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

check-markdown: fix lint error for new golangci-lint
  cmd/check-markdown/add_test.go
  cmd/check-markdown/link_test.go
  cmd/check-markdown/parse.go
Owners: @kata-containers/tools

check-markdown: fix lint error for new golangci-lint
  cmd/check-markdown/add_test.go
  cmd/check-markdown/link_test.go
  cmd/check-markdown/parse.go
Owners: @kata-containers/tools

static-checks: use version defined in versions.yaml for golangci-lint
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

cmd: fix more golangci-lint errors
  cmd/checkmetrics/basefile.go
  cmd/checkmetrics/basefile_test.go
  cmd/checkmetrics/json_test.go
  cmd/github-labels/yaml.go
  metrics/storage/fio-k8s/cmd/fiotest/main.go
Owners: @kata-containers/tools, @kata-containers/metrics

versions: Update flannel to its latest release
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

integration: Adapt kubernetes/init.sh to k8s v1.25.x
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

cri-o: Remove hack to enforce golang 1.18+
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

cri-o: Update to the release-1.26 when using main
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Fix blogbench write limit
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix read blogbench limit
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix boot time value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix iperf3 bandwidth limit for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

tests: enable TestContainerSwap test
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

metrics: Fix blogbench read value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix blogbench read value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix value for network jitter for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix parallel bandwidth for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

integration: update nydusd binary name
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

tests: run all test cases in one make command
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

CC: switch SEV to online_sev_kbc
  functional/sev/fixtures/agent-config.toml
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

test: disable hugepage in cgroup v2 threaded mode case
  integration/kubernetes/k8s-hugepages.bats
Owners: @kata-containers/integration-tests

metrics: Fix readbw FIO limit for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

cni: Remove entra `{` from the CNI config
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Update install_cri_containerd.sh
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove extra `{` from the CNI config
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Do not rename 10-mynet.conf
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Rely on containerd's default config for CNI
  .ci/configure_cni.sh
  .ci/install_cni_plugins.sh
  integration/containerd/cri/integration-tests.sh
  integration/containerd/shimv2/shimv2-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: drop go get
  .ci/ci-fast-return.sh
  .ci/install_bats.sh
  .ci/install_cni_plugins.sh
  .ci/install_cri_containerd.sh
  .ci/install_crio.sh
  .ci/jenkins_job_build.sh
  .ci/lib.sh
  .ci/resolve-kata-dependencies.sh
  .ci/static-checks.sh
  integration/containerd/cri/integration-tests.sh
  integration/cri-o/cri-o.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

static-check.sh: drop godep checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: install cni after installing containerd/kubernetes
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: update cni config
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

containerd: fix containerd cri-integration test failure
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

ci: install cri-tools when installing containerd
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

jenkins: install golang after resolving kata dependencies
  .ci/jenkins_job_build.sh
  .ci/static-checks.sh
  cmd/check-markdown/add.go
  cmd/check-markdown/types.go
  cmd/checkmetrics/round_post9_test.go
  cmd/checkmetrics/round_pre10_test.go
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
