Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

integration/rootless: add more asserts
  integration/rootless/rootless_test.sh
Owners: @kata-containers/integration-tests

integration/containerd: introduce the tests_common.sh library
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/tests_common.sh
Owners: @kata-containers/integration-tests

integration/containerd: rename $start_date to $test_start_time
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/asserts.sh
  integration/containerd/confidential/tests_common.sh
Owners: @kata-containers/integration-tests

integration/containerd: refactor handling of proxy and dns
  integration/containerd/confidential/tests_common.sh
Owners: @kata-containers/integration-tests

tests: Enable qos k8s test on x86_64
  .ci/aarch64/configuration_aarch64.yaml
  integration/kubernetes/k8s-qos-pods.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

log-parser: match agent log levels
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

metrics: Add cassandra k8s + tdx
  metrics/disk/cassandra_kubernetes/cassandra-tdx.sh
Owners: @kata-containers/metrics

scripts: Remove duplicated die/info/warn functions
  .ci/aarch64/install_rom_aarch64.sh
  .ci/install_go.sh
  .ci/kata-simplify-log.sh
  .ci/vagrant-cleaner.sh
  cmd/check-spelling/kata-spell-check.sh
  cmd/container-manager/manage_ctr_mgr.sh
  cmd/pmemctl/pmemctl.sh
  metrics/lib/common.bash
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

container-manager: Fix docker checks
  cmd/container-manager/manage_ctr_mgr.sh
Owners: @kata-containers/tools

scripts: Whitespace fixes
  lib/common.bash
Owners: @kata-containers/ci

scripts: Make die show stacktrace and other info under CI
  README.md
  lib/common.bash
  lib/error.sh
Owners: @kata-containers/documentation, @kata-containers/ci

ci: Add USE_DEVMAPPER flag
  .ci/ci_job_flags.sh
  .ci/containerd_devmapper_setup.sh
  .ci/setup.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: Add cloud-hypervisor + devmapper CI
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add QEMU + devmapper CI
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

kubernetes: Fix syntaxis for qos tests
  integration/kubernetes/k8s-qos-pods.bats
Owners: @kata-containers/integration-tests

tests: Enable qos k8s test on x86_64
  .ci/aarch64/configuration_aarch64.yaml
  integration/kubernetes/k8s-qos-pods.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: Get firecracker binaries from the released tarball
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

tools: Enable agent log parsing in kata-log-parser
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

tests: kata-log-parser should not make an error for missing fields
  cmd/log-parser/agent.go
  cmd/log-parser/agent_test.go
  cmd/log-parser/logentry.go
  cmd/log-parser/logentry_test.go
  cmd/log-parser/main.go
  cmd/log-parser/parse.go
  cmd/log-parser/parse_test.go
Owners: @kata-containers/tools

log-parser: unpack all agent fields
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

log-parser: match agent log levels
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

scripts: Remove duplicated die/info/warn functions
  .ci/aarch64/install_rom_aarch64.sh
  .ci/install_go.sh
  .ci/kata-simplify-log.sh
  .ci/vagrant-cleaner.sh
  cmd/check-spelling/kata-spell-check.sh
  cmd/container-manager/manage_ctr_mgr.sh
  cmd/pmemctl/pmemctl.sh
  metrics/lib/common.bash
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

container-manager: Fix docker checks
  cmd/container-manager/manage_ctr_mgr.sh
Owners: @kata-containers/tools

log-parser: update documentation with recent changes
  cmd/check-spelling/data/projects.txt
  cmd/log-parser/README.md
Owners: @kata-containers/tools

DO NOT MERGE
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

DO NOT MERGE
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

Fix-up merged code
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Shuffle the order of cc tests
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

k8s: Enable jobs k8s integration test
  integration/kubernetes/k8s-job.bats
Owners: @kata-containers/integration-tests

integration/containerd: add proxy handler to the agent_api tests
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/fixtures/agent-configuration-no-exec.toml
Owners: @kata-containers/integration-tests

do-not-merge: Only run the failing test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

tests: move rootless tests to functional
  Makefile
  functional/rootless/rootless-pod.json
  functional/rootless/rootless_test.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

tests: move vcpus tests to functional
  Makefile
  functional/vcpus/default_vcpus_test.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

tests: move sandbox_cgroup tests to functional
  Makefile
  functional/sandbox_cgroup/sandbox_cgroup_test.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

tests: move agent tests to functional
  Makefile
  functional/agent/agent_test.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

scripts: Remove go-test.sh script
  .ci/README.md
  .ci/go-test.sh
Owners: @kata-containers/ci, @kata-containers/tests

Edit run.sh for temporary changes to how the cc tests are run
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

stability: Find another home for the stability tests
  Makefile
  README.md
  stability/agent_stability_test.sh
  stability/hypervisor_stability_kill_test.sh
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests, @kata-containers/documentation

tests: add 'stability' in Makefile's .PHONY
  Makefile
Owners: @kata-containers/tests

stability: ensure agent_stability test clean up resources
  stability/agent_stability_test.sh
Owners: @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
