Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

metrics: Add nginx test to README
  metrics/network/README.md
Owners: @kata-containers/metrics

ci: Add SGX job
  .ci/ci_job_flags.sh
  .ci/install_sgx.sh
  .ci/jenkins_job_build.sh
  .ci/run.sh
  Makefile
Owners: @kata-containers/ci, @kata-containers/tests

SEV: Consolidate containerd setup code
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

containerd: enable pod annotations
  .ci/configure_containerd_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

CC: Enable e2e tests for IBM Z secure execution (SE)
  .ci/ci_job_flags.sh
  .ci/install_kata.sh
  .ci/install_kata_image.sh
  .ci/install_runtime.sh
  integration/confidential/lib.sh
  lib/common.bash
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: replace $TRAVIS with $GITHUB_ACTION in setup
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

workflows: Remove TRAVIS variable definitions
  .github/workflows/main.yml
Owners: @kata-containers/tests

metrics: Add c-ray benchmark
  metrics/disk/c-ray/Dockerfile
  metrics/disk/c-ray/cray.sh
Owners: @kata-containers/metrics

ci: Install kata+sgx components
  .ci/install_sgx.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Link to instead of copying the default config
  .ci/install_runtime.sh
  .ci/set_kata_config.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

common: Export HYPERVISOR_SHARED_FS
  lib/common.bash
Owners: @kata-containers/ci

tests: Pass --follow-symlinks when using `sed -i`
  .ci/aarch64/install_rom_aarch64.sh
  .ci/install_runtime.sh
  .ci/openshift-ci/images/entrypoint.sh
  cmd/kata-manager/kata-manager.sh
  functional/rootless/rootless_test.sh
  functional/sgx/run.sh
  functional/tdx/lib/common-tdx.bash
  functional/vcpus/default_vcpus_test.sh
  functional/vfio/run.sh
  integration/containerd/cri/integration-tests.sh
  integration/kubernetes/k8s-hugepages.bats
  integration/kubernetes/k8s-seccomp.bats
  integration/kubernetes/vfio.sh
  integration/nydus/nydus_tests.sh
  integration/qat/qat_test.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests

ksm: Change how the shared_fs is set
  metrics/lib/common.bash
Owners: @kata-containers/metrics

ci:add k8s-block-volume.bats
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

tests: drop fieldaligment
  .ci/.golangci.yml
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Fix memory inside container test
  metrics/density/memory_usage_inside_container.sh
Owners: @kata-containers/metrics

metrics: Add C-Ray documentation
  metrics/disk/README.md
Owners: @kata-containers/metrics

spellcheck: Add raytracer to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

lib: Add extra steps to clean env for ctr with RunC
  lib/common.bash
Owners: @kata-containers/ci

jenkins: Add SGX job
  .ci/configure_for_sgx.sh
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

makefile: Add sgx tests rule
  Makefile
Owners: @kata-containers/tests

static-checks: Adjust sed expression allowing for checking more dockerfiles
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add test script for vfio-ap on s390x
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
  functional/vfio-ap/Dockerfile
  functional/vfio-ap/run.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests

ci: replace $TRAVIS with $GITHUB_ACTION in setup
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

workflows: Remove TRAVIS variable definitions
  .github/workflows/main.yml
Owners: @kata-containers/tests

kernel: Adapt to the new names in versions.yaml
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Update fast footprint test
  metrics/density/fast_footprint.sh
Owners: @kata-containers/metrics

ci/install_kata_image: build and install with kata-deploy
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_cloud_hypervisor: call build_static_artifact_and_install()
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

cri: Adjust Kata Containers configuration path
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

ci/install_runtime: build and install with kata-deploy
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_virtiofsd: call build_static_artifact_and_install()"
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib: add build_static_artifact_and_install()
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_qemu: build and install with kata-deploy
  .ci/aarch64/lib_install_qemu_aarch64.sh
  .ci/install_qemu.sh
  .ci/ppc64le/lib_install_qemu_ppc64le.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_firecracker: build and install with kata-deploy
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

common.bash: Ensure we get the path of the containerd-shim-kata-v2
  lib/common.bash
Owners: @kata-containers/ci

dragonball-stabiliy: Create /etc/kata-containers/configuration.toml
  Makefile
Owners: @kata-containers/tests

k8s-file-volume: Delete pod before removing volumes
  integration/kubernetes/k8s-file-volume.bats
Owners: @kata-containers/integration-tests

ci: Temporarily disable kubernetes-e2e tests
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

nydus: Adapt tests to /opt/kata
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests
