Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

tests: move tracing tests to functional
  Makefile
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

tests: create the functional/confidential-guest directory
  functional/confidential-guest/tdx/lib/common-tdx.bash
  functional/confidential-guest/tdx/run.sh
Owners: @kata-containers/functional-tests

confidential-guest: add Makefile target
  Makefile
  functional/confidential-guest/run.sh
Owners: @kata-containers/tests, @kata-containers/functional-tests

openshift-ci: Fix the QEMU configuration handler
  .ci/openshift-ci/cluster/deployments/configmap_installer_qemu_4_10.yaml
  .ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

openshift-ci: Build kata-installer from CentOS Stream
  .ci/openshift-ci/images/Dockerfile.installer
Owners: @kata-containers/ci, @kata-containers/tests

openshift-ci: Fix symlinks handler for OCP 4.11
  .ci/openshift-ci/images/entrypoint.sh
Owners: @kata-containers/ci, @kata-containers/tests

scripts: Whitespace fixes
  lib/common.bash
Owners: @kata-containers/ci

scripts: Make die show stacktrace and other info under CI
  README.md
  lib/common.bash
  lib/error.sh
Owners: @kata-containers/documentation, @kata-containers/ci

release: Kata Containers 2.5.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.4.1
  VERSION
Owners: @kata-containers/release

ci: Added: tests for OCI prestart and poststart hooks.
  .ci/run.sh
  Makefile
  integration/ctr/oci_hooks_tests.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

do-not-merge: tracing test for s390x
  .ci/jenkins_job_build.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Get the tests back
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration/kubernetes: add pull image tests
  Makefile
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/fixtures/pod-config.yaml
  integration/kubernetes/confidential/fixtures/pod-config_signed-protected-other.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-protected.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-unprotected.yaml
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/tests, @kata-containers/integration-tests

Re-add DOCKER iptables chain
  integration/kubernetes/cleanup_bare_metal_env.sh
Owners: @kata-containers/integration-tests

ci: Add CC Kubernetes job flags
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
Owners: @kata-containers/ci, @kata-containers/tests

integration/containerd: Add shared library source
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

integration/confidential: Refactor confidential/lib.sh
  integration/confidential/lib.sh
  integration/containerd/confidential/lib.sh
  integration/containerd/confidential/tests_common.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/fixtures/pod-config_signed-protected-other.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-protected.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-unprotected.yaml
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

try re-adding sleep in
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

crio: Update golang to 1.18+ in this specific CI
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: Add missing commands for the setup.sh documentation
  README.md
Owners: @kata-containers/documentation

ci: Add CC Kubernetes job flags
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
Owners: @kata-containers/ci, @kata-containers/tests

integration/containerd: Add shared library source
  integration/containerd/confidential/agent_api.bats
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

integration/confidential: Refactor confidential/lib.sh
  integration/confidential/lib.sh
  integration/containerd/confidential/lib.sh
  integration/containerd/confidential/tests_common.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/fixtures/pod-config_signed-protected-other.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-protected.yaml
  integration/kubernetes/confidential/fixtures/pod-config_unsigned-unprotected.yaml
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

k8s: Enable port forward kubernetes test
  integration/kubernetes/k8s-port-forward.bats
Owners: @kata-containers/integration-tests

k8s: Enable k8s footloose integration test
  integration/kubernetes/k8s-footloose.bats
Owners: @kata-containers/integration-tests

tracing: Add CLH to tracing test
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

github: Update go version to 1.18
  .ci/static-checks.sh
  .github/workflows/main.yml
  cmd/checkcommits/README.md
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/release

agent-shutdown: Add CLH to agent shutdown test
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

agent-shutdown: Fix command to wait for VM
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

agent-shutdown: Create function to get addresses
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

ci: Fix misspelling for CONTAINERD_ARCH variable
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Update runc containerd runtime
  .ci/configure_containerd_for_kata.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: Add script to install virtiofsd
  .ci/install_virtiofsd.sh
  .ci/setup_env_alinux.sh
  .ci/setup_env_centos.sh
  .ci/setup_env_fedora.sh
  .ci/setup_env_opensuse.sh
  .ci/setup_env_rhel.sh
  .ci/setup_env_sles.sh
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Use virtiofsd as part of install_kata.sh
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove unused vars from install_cloud_hypervisor.sh
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Use "tar -xvJpf" on install_cloud_hypervisor.sh
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-local-ci: Do not emit "ERROR:" twice
  cmd/kata-local-ci
Owners: @kata-containers/tools

kata-local-ci: add timeout option
  cmd/kata-local-ci
Owners: @kata-containers/tools

kata-local-ci: Tentative workaround for Ubuntu 20.04
  cmd/kata-local-ci
Owners: @kata-containers/tools
