Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

ci/install_virtiofsd: call build_static_artifact_and_install()"
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

common.bash: Ensure we get the path of the containerd-shim-kata-v2
  lib/common.bash
Owners: @kata-containers/ci

lib.sh: Always use docker as part of the CI
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add collection for iperf3 jitter results
  cmd/checkmetrics/history/history.sh
Owners: @kata-containers/tools

metrics: Add latency test as test selector
  .ci/run_metrics_PR_ci.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.0.2
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.1.0-rc0
  VERSION
Owners: @kata-containers/release

tests: Add scability test
  stability/scability_test.sh
Owners: @kata-containers/tests

stability: Add a new stressor CPU test
  stability/stressng.sh
Owners: @kata-containers/tests

stable-3.1: Change references from main to stable-3.1
  .ci/lib.sh
  .ci/static-checks.sh
  README.md
  cmd/github-labels/labels.yaml.in
  cmd/pmemctl/pmemctl.sh
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/tools, @kata-containers/release

ksm_test: fix ksm parameter saving
  metrics/lib/common.bash
Owners: @kata-containers/metrics

ci: add k8s-footloose.bats to dragonball test
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

DONOTMERGE | ci: use alpine image in the tests
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add metrics cloud hypervisor job
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: some tools missing when remove k8s
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: remove deprecated linters
  .ci/.golangci.yml
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add METRICS_CLH ci job flag
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Add cassandra stress tool write test
  stability/cassandra_stress.sh
Owners: @kata-containers/tests

integration: enable virtio-mem test for arm64
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

makefile: Add scalability testing
  Makefile
Owners: @kata-containers/tests

DO-NOT-MERGE: test CI job for s390x
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

stability: Add more write tests for cassandra stress tool
  stability/cassandra_stress.sh
Owners: @kata-containers/tests

ppc64le: check if virtiofsd is installed
  .ci/ppc64le/lib_install_qemu_ppc64le.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add iperf test as test selector
  .ci/run_metrics_PR_ci.sh
Owners: @kata-containers/ci, @kata-containers/tests

SEV: Always reset pre-attestation to true
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Fix OVMF path
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

fix bug: the test of auth registry with offline_fs_kbc in k8s
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

metrics: Fix iperf test path
  .ci/run_metrics_PR_ci.sh
Owners: @kata-containers/ci, @kata-containers/tests

runtime-rs : exclude footloose k8s CI in aarch64
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

uefi/arm64: install uefi/rom when intall qemu
  .ci/aarch64/install_rom_aarch64.sh
  .ci/aarch64/lib_install_qemu_aarch64.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

confidential: consolidate sev.bats
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

k8s/arm64: skip footloose test for DB
  .ci/aarch64/configuration_aarch64.yaml
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Use sudo with ctr in common.bash
  metrics/lib/common.bash
Owners: @kata-containers/metrics

metrics: Add nginx benchmark
  metrics/network/nginx_kubernetes/nginx-network.sh
Owners: @kata-containers/metrics

gitignore: Added cmd/check-markdown/kata-check-markdown to .gitignore
  .gitignore
Owners: @kata-containers/tests

metrics: Add bandwidth iperf3 results to history.sh
  cmd/checkmetrics/history/history.sh
Owners: @kata-containers/tools

metrics: Use variables defined in common.bash
  metrics/time/launch_times.sh
Owners: @kata-containers/metrics

metrics: Add nginx yaml for k8s test
  metrics/network/nginx_kubernetes/runtimeclass_workloads/nginx-networking.yaml
Owners: @kata-containers/metrics

test nydus on aarch64
  integration/nydus/nydus-container.yaml
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

ci: Remove stale coco artifacts
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests
