Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

ci: set SEV TEE_TYPE
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Enable cassandra benchmark in metrics CI
  .ci/run_metrics_PR_ci.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

versions: Update nginx version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

WIP: DO NOT MERGE
  README.md
Owners: @kata-containers/documentation

WIP: DO NOT MERGE
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add asynchronous job FIO configuration
  metrics/storage/fio-k8s/configs/example-config/fio-jobs/randrw-async.job
Owners: @kata-containers/metrics

tests: Skip nydus integration test
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

makefile: Add rule for fio test for kata CI
  metrics/storage/fio-k8s/Makefile
  metrics/storage/fio-k8s/cmd/fiotest/Makefile
Owners: @kata-containers/metrics

support CI test for dragonball hypervisor
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
  integration/containerd/cri/integration-tests.sh
  integration/kubernetes/run_kubernetes_tests.sh
  lib/common.bash
  stability/soak_parallel_rm.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

versions: Update xurls version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

nydus: upgarde nydus version
  .ci/run.sh
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

test: no longer skip two tests
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

ci: install rust for runtime-rs
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: add sudo when compile runtime-rs and enable k8s-seccomp.bats
  .ci/install_runtime.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: check if VC_POD_DIR exists before checking the files in VC_POD_DIR
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

metrics: Increase boot time value for qemu
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Add script to run FIO in metrics CI
  metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/metrics

fc: fix uncompressed dir path
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

k8s: Add an integration test for checking process leak
  integration/kubernetes/k8s-kill-all-process-in-container.bats
  integration/kubernetes/run_kubernetes_tests.sh
  integration/kubernetes/runtimeclass_workloads/initcontainer-shareprocesspid.yaml
Owners: @kata-containers/integration-tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

ci: Remove duplicated kubernetes flag
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

test: Add a exec test case for terminated successfully
  integration/kubernetes/k8s-exec.bats
Owners: @kata-containers/integration-tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

ci: Fix dragonball installation
  .ci/install_kata.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

debug for dragonball ci
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

ci: Fix tests that are failing with cgroupsv2
  .ci/run.sh
  functional/kata-monitor/run.sh
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
  functional/vcpus/default_vcpus_test.sh
  integration/ksm/ksm_test.sh
  integration/kubernetes/k8s-hugepages.bats
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests, @kata-containers/integration-tests

metrics: Enable FIO read tests
  .ci/run_metrics_PR_ci.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/storage/fio-k8s/Makefile
  metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

ci: build rust runtime for dragonball hypervisor
  .ci/install_kata.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: support CI test for dragonball hypervisor
  .ci/ci_job_flags.sh
  .ci/run.sh
  Makefile
  integration/containerd/cri/integration-tests.sh
  integration/kubernetes/run_kubernetes_tests.sh
  lib/common.bash
  stability/soak_parallel_rm.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: install rust for runtime-rs
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: add sudo when compile runtime-rs and enable k8s-seccomp.bats
  .ci/install_runtime.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: check if VC_POD_DIR exists before checking the files in VC_POD_DIR
  stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

metrics: Add latency network metrics script
  metrics/network/latency_kubernetes/latency-network.sh
  metrics/network/latency_kubernetes/runtimeclass_workloads/latency-client.yaml
  metrics/network/latency_kubernetes/runtimeclass_workloads/latency-server.yaml
Owners: @kata-containers/metrics

agent-ctl: Install agent-ctl in install_runtime.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

runk: add tests for runk
  .ci/run.sh
  Makefile
  integration/containerd/runk/runk-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

metrics: Enable latency network measurement
  .ci/run_metrics_PR_ci.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/network/latency_kubernetes/latency-network.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

tracing: Add checks for specific spans and ordering
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
