Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

SEV: Update operator tests for online kbs
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Update failure condition for negative test
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

spellcheck: Add Tokio to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

SEV: Enable image service offload
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

SEV: Switch to containerd fork
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

debug: runk
  .ci/run.sh
  integration/containerd/runk/runk-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

k8s: add footloose ci to run_kubernetes_tests.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

SEV: Allow KBS to start
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Update unencrypted image test
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Remove redundant containerd installation
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

metrics: Support to gathered latency results
  cmd/checkmetrics/history/history.sh
Owners: @kata-containers/tools

CC: Add check in function clone_katacontainers_repo for newer code
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

runtime-rs: add cpu-ns k8s test case
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

spellcheck: Add Cassandra to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

sev: updated sev build targets to run k8s
  .ci/run.sh
  Makefile
Owners: @kata-containers/ci, @kata-containers/tests

sev: specify kata-qemu-sev config only once
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

docs: Add sysbench metrics information
  metrics/density/README.md
Owners: @kata-containers/metrics

spellcheck: Add Sysbench to dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

config: change physical cp to symlink for config setting
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

sev: add logic to set containerd config cri_handler
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

sev: fix typo in variable name
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

sev: changed service yaml to use envsubst
  integration/kubernetes/confidential/fixtures/encrypted-image-tests.yaml
  integration/kubernetes/confidential/fixtures/service.yaml.in
  integration/kubernetes/confidential/fixtures/unencrypted-image-tests.yaml
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

permissions: shell scripts missing execute permissions
  integration/kubernetes/cleanup_bare_metal_env.sh
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/tests_common.sh
Owners: @kata-containers/integration-tests

versions: upgrade flannel to 0.20.2
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

permissions: shell scripts missing execute permissions
  integration/kubernetes/cleanup_bare_metal_env.sh
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/tests_common.sh
Owners: @kata-containers/integration-tests

versions: upgrade flannel to 0.20.2
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: upgrade flannel to 0.20.2
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

sev: deleted unnecessary testing files
  functional/sev/fixtures/agent-config.toml
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

dockerfile: Add stress-ng dockerfile
  stability/stressng_dockerfile/Dockerfile
Owners: @kata-containers/tests

versions: upgrade flannel to 0.20.2
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

integration/containerd: Remove skopeo code
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

integration/kubernetes: Remove skopeo code
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

ci: Remove umoci option from rootfs build
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: Remove skopeo libs and fixtures
  integration/confidential/fixtures/quay_verification/s390x/quay_policy.json
  integration/confidential/fixtures/quay_verification/x86_64/quay_policy.json
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: Remove skopeo job flags and tests
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

stability: Add stress-ng testing
  stability/stressng_dockerfile/stressng.sh
Owners: @kata-containers/tests

metrics: Enable new CI metrics baremetal.
  .ci/setup_env_ubuntu.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-m3-small-x86-01.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric7.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-m3-small-x86-01.toml
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

metrics: Update blogbench value for qemu
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-m3-small-x86-01.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric7.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-m3-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Update boot time for cloud hypervisor
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
Owners: @kata-containers/tools

metrics: Update blogbench result for cloud hypervisor
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
Owners: @kata-containers/tools
