Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

metrics: decrease midval of memory-footprint-ksm
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

versions: Update golangci-list to its latest release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

github: Run the main workflow only using go 1.19.2
  .github/workflows/main.yml
Owners: @kata-containers/tests

check-markdown: fix lint error for new golangci-lint
  cmd/check-markdown/add_test.go
  cmd/check-markdown/link_test.go
  cmd/check-markdown/parse.go
Owners: @kata-containers/tools

static-checks: use version defined in versions.yaml for golangci-lint
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

cmd: fix more golangci-lint errors
  cmd/checkmetrics/basefile.go
  cmd/checkmetrics/basefile_test.go
  cmd/checkmetrics/json_test.go
  cmd/github-labels/yaml.go
  metrics/storage/fio-k8s/cmd/fiotest/main.go
Owners: @kata-containers/tools, @kata-containers/metrics

metrics: Fix read blogbench limit
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix blogbench write limit
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix boot time value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix iperf3 bandwidth limit for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix blogbench read value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix blogbench read value for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix value for network jitter for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

metrics: Fix parallel bandwidth for clh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

ci: Rely on containerd's default config for CNI
  .ci/configure_cni.sh
  .ci/install_cni_plugins.sh
  integration/containerd/cri/integration-tests.sh
  integration/containerd/shimv2/shimv2-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

checkmetrics: remove files that for different golang version
  cmd/checkmetrics/compare_test.go
  cmd/checkmetrics/metric_test.go
  cmd/checkmetrics/round_post9_test.go
  cmd/checkmetrics/round_pre10_test.go
Owners: @kata-containers/tools

ci: Add lib functions for setting up auth reg support
  integration/confidential/fixtures/offline-fs-kbc/aa-offline_fs_kbc-resources.json.in
  integration/confidential/fixtures/offline-fs-kbc/auth.json.in
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

integration/kubernetes: Add auth reg tests
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

integration/containerd: Add auth reg tests
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/fixtures/container-config_authenticated.yaml
Owners: @kata-containers/integration-tests

static-checks: Add license header exception
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add sysbench memory test
  integration/kubernetes/init.sh
  metrics/density/k8s-sysbench.sh
  metrics/density/runtimeclass_workloads/sysbench-pod.yaml
  metrics/density/sysbench-dockerfile/Dockerfile
Owners: @kata-containers/integration-tests, @kata-containers/metrics

CI: Relax timeout threshold for flannel
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

CI: Relax timeout threshold for flannel
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

CC: Switch SEV operator test to online sev kbc
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

ci: Update permissions of containerd install
  .ci/install_cni_plugins.sh
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Restore removed cni plugin files from backup
  integration/kubernetes/init.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

metrics: Enable k8s sysbench test
  .ci/run_metrics_PR_ci.sh
Owners: @kata-containers/ci, @kata-containers/tests

kubernetes: Enable built custom stress image
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

ci: Move td-shim installation to install_kata.sh
  .ci/install_cloud_hypervisor.sh
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Avoid building TDVF twice
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Prevent removing cni plugins for retry on baremetal
  integration/kubernetes/cleanup_bare_metal_env.sh
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

CC: add e2e tests for IBM SE on CI
  .ci/ci_job_flags.sh
  .ci/run.sh
  integration/confidential/fixtures/offline-fs-kbc/s390x/aa-offline_fs_kbc-resources.json
  integration/confidential/fixtures/offline-fs-kbc/x86_64/aa-offline_fs_kbc-resources.json
  integration/confidential/fixtures/quay_verification/s390x/public.gpg
  integration/confidential/fixtures/quay_verification/s390x/quay_policy.json
  integration/confidential/fixtures/quay_verification/s390x/signatures.tar
  integration/confidential/fixtures/quay_verification/x86_64/public.gpg
  integration/confidential/fixtures/quay_verification/x86_64/quay_policy.json
  integration/confidential/fixtures/quay_verification/x86_64/signatures.tar
  integration/confidential/lib.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

metrics: Enable sysbench memory limit
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/density/k8s-sysbench.sh
Owners: @kata-containers/tools, @kata-containers/metrics

ci: Enable s390x auth reg e2e tests
  integration/containerd/confidential/fixtures/container-config_authenticated.yaml
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

metrics: Defined general variables
  metrics/lib/common.bash
  metrics/lib/json.bash
Owners: @kata-containers/metrics

ci: Use TDX specific guest image on TDX Cis
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

lib.sh: Make setup_proxy() aware of no_proxy
  integration/confidential/lib.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

k8s/libs.sh: Adjust ssh demo image if using eaa_kbc
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

k8s/confidential: Skip tests which won't work with verdictd
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

lib.sh: Adapt setup_cosign_signatures_files to EAA_KBC
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests
