Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

tracing: Skip agent shutdown test on s390x
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

tracing: Remove Jaeger container before starting
  tracing/tracing-test.sh
Owners: @kata-containers/tests

ci: Directly call the script for installing clh
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci,clh: Link cloud-hypervisor to /usr/bin/cloud-hypervisor
  .ci/install_cloud_hypervisor.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add an external job for testing cloud-hypervisor
  .ci/ci_clh_entry_point.sh
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Update main.txt
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

uefi/arm64: optimize uefi installation
  .ci/aarch64/install_rom_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

uefi/arm64: optimize uefi installation
  .ci/aarch64/install_rom_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: Update contributing document
  CONTRIBUTING.md
Owners: @kata-containers/documentation

dictionary: Correct entry for NVIDIA
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

qat: share GOPATH with QAT container
  integration/qat/qat_test.sh
Owners: @kata-containers/integration-tests

integration/k8s: Re-add DOCKER iptables chain
  integration/kubernetes/cleanup_bare_metal_env.sh
Owners: @kata-containers/integration-tests

docs: Remove doc TOCs
  .ci/README.md
  README.md
  cmd/check-markdown/README.md
  cmd/check-spelling/README.md
  cmd/checkmetrics/README.md
  cmd/github-labels/README.md
  cmd/github-labels/archive/README.md
  cmd/kata-manager/README.md
  cmd/log-parser/README.md
  metrics/README.md
  metrics/density/README.md
  metrics/network/README.md
  metrics/report/README.md
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/tools, @kata-containers/metrics

tracing: Update tracing configuration script
  .ci/configure_tracing_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

integration/k8s: Use available s390x hugepages
  integration/kubernetes/k8s-hugepages.bats
  integration/kubernetes/runtimeclass_workloads/pod-hugepage.yaml
Owners: @kata-containers/integration-tests

openshift-ci: Install dracut on build environment
  .ci/openshift-ci/build_install.sh
Owners: @kata-containers/ci, @kata-containers/tests

setup: avoid appending duplicated lines to config files
  .ci/setup_env_centos.sh
Owners: @kata-containers/ci, @kata-containers/tests

tracing: Move tracing test to different job
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

tracing: Change variable for runtime used for ctr
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

tracing: Update which tests are disabled
  tracing/test-agent-shutdown.sh
  tracing/tracing-test.sh
Owners: @kata-containers/tests

checkcommits: Remove semaphore from documentation and scripts
  cmd/checkcommits/README.md
  cmd/checkcommits/checkcommits.go
  cmd/checkcommits/checkcommits_test.go
Owners: @kata-containers/tools

tracing: Skip agent shutdown test on s390x
  tracing/test-agent-shutdown.sh
Owners: @kata-containers/tests

tracing: Remove Jaeger container before starting
  tracing/tracing-test.sh
Owners: @kata-containers/tests

dictionary: Correct entry for NVIDIA
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

ci: Enable full debug
  .ci/setup_env_ubuntu.sh
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

tests: Remove unused bundle and container test
  Gopkg.lock
  bundle.go
  container.go
  vendor/github.com/opencontainers/specs/LICENSE
  vendor/github.com/opencontainers/specs/specs-go/config.go
  vendor/github.com/opencontainers/specs/specs-go/state.go
  vendor/github.com/opencontainers/specs/specs-go/version.go
Owners: @kata-containers/tests

qat: share GOPATH with QAT container
  integration/qat/qat_test.sh
Owners: @kata-containers/integration-tests

tools: Enable agent log parsing in kata-log-parser
  cmd/log-parser/agent.go
Owners: @kata-containers/tools

integration/k8s: Re-add DOCKER iptables chain
  integration/kubernetes/cleanup_bare_metal_env.sh
Owners: @kata-containers/integration-tests

ci: Update test container config names
  integration/containerd/confidential/fixtures/container-config.yaml
  integration/containerd/confidential/fixtures/container-config_signed-protected-other.yaml
  integration/containerd/confidential/fixtures/container-config_unsigned-protected.yaml
  integration/containerd/confidential/fixtures/container-config_unsigned-unprotected.yaml
Owners: @kata-containers/integration-tests

checkmetrics: Update json_test.go script
  cmd/checkmetrics/json_test.go
Owners: @kata-containers/tools

ci: crictl _delete_cc_pod fix
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

tests: kata-log-parser should not make an error for missing fields
  cmd/log-parser/agent.go
  cmd/log-parser/agent_test.go
  cmd/log-parser/logentry.go
  cmd/log-parser/logentry_test.go
  cmd/log-parser/main.go
  cmd/log-parser/parse.go
  cmd/log-parser/parse_test.go
Owners: @kata-containers/tools

ci: Get firecracker binaries from the released tarball
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

functional/tdx: improve tdx test
  functional/tdx/run.sh
Owners: @kata-containers/functional-tests

release: Kata Containers 2.4.0
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.5.0-alpha0
  VERSION
Owners: @kata-containers/release

functional/sgx: add test to validate SGX
  functional/sgx/run.sh
  functional/sgx/sgx.json.in
Owners: @kata-containers/functional-tests

test
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

checkspelling: Update link in files document
  cmd/check-spelling/data/files.txt
Owners: @kata-containers/tools
