Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

kata-webhook: Skip mutating sonobuoy pods
  kata-webhook/main.go
Owners: @kata-containers/tests

kata-webhook-docs: Fix outdated script names
  kata-webhook/README.md
Owners: @kata-containers/documentation

kata-webhook: Cleanup kata-webhook deployment
  integration/kubernetes/e2e_conformance/run.sh
Owners: @kata-containers/integration-tests

e2e_conformance: Add support for runtime class
  integration/kubernetes/e2e_conformance/run.sh
Owners: @kata-containers/integration-tests

versions: Update sonobuoy to latest v0.56.16
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

kubernetes: describe pods on SEV/SNP teardown()
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

kubernetes: containerd logs on SEV tests's teardown()
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

debug
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

confidential: Update config file permissions
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

spell: update spelling dictionary
  cmd/check-spelling/data/acronyms.txt
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

dict: add more spelling into kata-spell-check
  cmd/check-spelling/data/acronyms.txt
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

dict: add more words into kata-spell-check
  cmd/check-spelling/data/acronyms.txt
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

README: Add note about moving the tests to the `kata-containers` repo
  README.md
Owners: @kata-containers/documentation

README: Remove reference to go get
  README.md
Owners: @kata-containers/documentation

Dict: add pio into Kata CI spelling check
  cmd/check-spelling/data/acronyms.txt
Owners: @kata-containers/tools

license: avoid checking license for *.dtd file
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

vfio: Fix default port assignment
  functional/vfio/run.sh
Owners: @kata-containers/functional-tests

vfio-ap: Add e2e test for vfio-ap cold-plugin
  functional/vfio-ap/run.sh
Owners: @kata-containers/functional-tests

ci: ovmf: Adapt tarball name to the one coming from main
  .ci/install_ovmf_sev.sh
Owners: @kata-containers/ci, @kata-containers/tests

install_qemu: Adapt to the names used in `main`
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: coco: Specify which components to build with the cc- target
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Change the paths to /opt/kata
  .ci/configure_containerd_for_kata.sh
  .ci/configure_crio_for_kata.sh
  .ci/install_runtime.sh
  .ci/install_td_shim.sh
  .ci/install_tdvf.sh
  .ci/jenkins_job_build.sh
  .ci/lib.sh
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

install_kata_kernel: Adapt sev / tdx kernel names
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Adapt OVMF name to the one used in main
  .ci/install_ovmf_x86_64.sh
  .ci/install_tdvf.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Fix the smoke_test permissions
  .ci/openshift-ci/smoke/http-server.yaml
Owners: @kata-containers/ci, @kata-containers/tests

kata-webhook: Fix the webhook's pods permissions
  kata-webhook/deploy/webhook.yaml
  kata-webhook/webhook-check.sh
Owners: @kata-containers/tests

ci: Initialize GOPATH before it's used
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

vfio: Fix default port assignment
  functional/vfio/run.sh
Owners: @kata-containers/functional-tests

release: Kata Containers 3.2.0-alpha4
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.2.0-rc0
  VERSION
Owners: @kata-containers/release

cc: install_kata_image: Update to the Aug 1st kata-containers merge
  .ci/install_kata_image.sh
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: fix missing bc error during setup
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci-setup-env-ubuntu: Install devmapper & clang
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add REMOTE_SNAPSHOTTER flag and install function
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add a script to install nydus snapshotter
  .ci/install_nydus_snapshotter.sh
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

build: Install guest-component deps
  .ci/install-guest-component-dependencies.sh
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

test:cri: Add guest AppArmor support
  .ci/install_kata_image.sh
  .ci/lib.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

build: Install guest-component deps
  .ci/install_guest_component_dependencies.sh
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests/kubernetes: Correctly run cleanup_bare_metal_env.sh
  integration/kubernetes/cleanup_env.sh
Owners: @kata-containers/integration-tests

tracing: ensure reproducible builds
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
