Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

metrics: Adapt tests to /opt/kata
  metrics/storage/webtooling.sh
Owners: @kata-containers/metrics

aarch64: Adapt script to install to /opt/kata
  .ci/aarch64/install_rom_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

qat: Adapt test to the new deployment location
  integration/qat/qat_test.sh
Owners: @kata-containers/integration-tests

common.bash: Set RUNTIME to containerd-shim-kata-v2
  lib/common.bash
Owners: @kata-containers/ci

ci/install_kata_kernel: build and install with kata-deploy
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-manager: Update to /opt/kata
  cmd/kata-manager/kata-manager.sh
Owners: @kata-containers/tools

containerd: crio: Add ConfigPath to the tests config
  .ci/configure_containerd_for_kata.sh
  .ci/configure_crio_for_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

vfio: Adapt tests to the /opt/kata location
  functional/vfio/run.sh
  integration/kubernetes/vfio.sh
Owners: @kata-containers/functional-tests, @kata-containers/integration-tests

aarch64: Use the rust version of virtiofsd
  .ci/aarch64/lib_install_qemu_aarch64.sh
Owners: @kata-containers/ci, @kata-containers/tests

lib.sh: Always use docker as part of the CI
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

rootless: Adapt to using /opt/kata
  functional/rootless/rootless_test.sh
Owners: @kata-containers/functional-tests

lib.sh: Adapt to using /opt/kata
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

run.sh: Adapt to installing kata to /opt/kata
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: defer configuring runtime config settings for kata-container CI
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

versions: Update hadolint version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

openshift-ci: install with kata-deploy
  .ci/openshift-ci/build_install.sh
  .ci/openshift-ci/cluster/configs/crio_kata.conf
  .ci/openshift-ci/cluster/deployments/daemonset_kata-installer.yaml.in
  .ci/openshift-ci/cluster/deployments/machineconfig_kata_runtime.yaml.in
  .ci/openshift-ci/cluster/deployments/runtimeclass_kata.yaml
  .ci/openshift-ci/cluster/install_kata.sh
  .ci/openshift-ci/images/Dockerfile.installer
  .ci/openshift-ci/images/entrypoint.sh
  .ci/openshift-ci/qemu-build-pre.sh
  .ci/openshift-ci/smoke/http-server.yaml
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Update latency value
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
Owners: @kata-containers/tools

metrics: Update footprint data script
  metrics/density/footprint_data.sh
Owners: @kata-containers/metrics

SEV: Add SEV-ES Test
  integration/kubernetes/confidential/fixtures/service.yaml.in
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Remove unnecessary keysets
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

SEV: Remove KBS URI update
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

ci/install_qemu: Fix bad merge
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

cri-o: explicitly setup docker local registry
  .ci/install_crio.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.1.0
  VERSION
Owners: @kata-containers/release

ci: do not stop containerd when testing with crio
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

ci: Update cri endpoint for kubernetes tests
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

crio: use go 1.20 for the kata/crio CI job
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

docs: Readme for boot time metrics
  metrics/README.md
  metrics/time/README.md
Owners: @kata-containers/metrics

metrics: Update launch times test
  metrics/time/launch_times.sh
Owners: @kata-containers/metrics

release: Kata Containers 3.2.0-alpha0
  VERSION
Owners: @kata-containers/release

metrics: Delete nginx service
  metrics/network/nginx_kubernetes/nginx-network.sh
Owners: @kata-containers/metrics

metrics: Update blogbench test
  metrics/storage/blogbench.sh
Owners: @kata-containers/metrics

upgrade kata-webhook
  kata-webhook/Dockerfile
  kata-webhook/go.mod
  kata-webhook/go.sum
Owners: @kata-containers/tests

fix omit notes for kata-manager.sh
  cmd/kata-manager/kata-manager.sh
Owners: @kata-containers/tools

Signatures: add resources with new URI scheme
  integration/confidential/fixtures/offline-fs-kbc/aa-offline_fs_kbc-resources.json.in
  integration/confidential/fixtures/offline-fs-kbc/s390x/aa-offline_fs_kbc-resources.json
  integration/confidential/fixtures/offline-fs-kbc/x86_64/aa-offline_fs_kbc-resources.json
Owners: @kata-containers/integration-tests

metrics: Add statistics on the data collected in boot times
  metrics/time/launch_times.sh
Owners: @kata-containers/metrics

fixtures/cosign: add KBS URI resources to offline_fs_kbc.json
  integration/confidential/fixtures/cosign/offline-fs-kbc/aa-offline_fs_kbc-resources.json
Owners: @kata-containers/integration-tests

fixtures/cosign: Use KBS URI in keyPath attributes of policy
  integration/confidential/fixtures/cosign/offline-fs-kbc/aa-offline_fs_kbc-resources.json
Owners: @kata-containers/integration-tests

SEV: Make SEV tests work with resource URI
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

metrics: Add tensorflow benchmark
  metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/metrics
