Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

release: Kata Containers 3.2.0-alpha2
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.2.0-alpha3
  VERSION
Owners: @kata-containers/release

stability: Update stressng dockerfile
  stability/stressng_dockerfile/Dockerfile
Owners: @kata-containers/tests

versions: Update xurls version to 2.5.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

metrics: Update tensorflow Dockerfile
  metrics/machine_learning/tensorflow_dockerfile/Dockerfile
Owners: @kata-containers/metrics

kata-webhook-docs: Fix outdated script names
  kata-webhook/README.md
Owners: @kata-containers/documentation

kata-webhook: Skip mutating sonobuoy pods
  kata-webhook/main.go
Owners: @kata-containers/tests

kata-webhook: Cleanup kata-webhook deployment
  integration/kubernetes/e2e_conformance/run.sh
Owners: @kata-containers/integration-tests

e2e_conformance: Add support for runtime class
  integration/kubernetes/e2e_conformance/run.sh
Owners: @kata-containers/integration-tests

versions: Update sonobuoy to latest v0.56.16
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

k8s-conformance: Add support to run tests in parallel
  integration/kubernetes/e2e_conformance/run.sh
Owners: @kata-containers/integration-tests

metrics: Update Tensorflow model name
  metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/metrics

docs: Update Tensorflow and Pytorch documentation
  metrics/machine_learning/README.md
Owners: @kata-containers/metrics

check-spelling: Add Tensorflow and AxelNet words
  cmd/check-spelling/data/projects.txt
  metrics/machine_learning/README.md
Owners: @kata-containers/tools, @kata-containers/metrics

kubernetes: add agnhost command in pod yaml
  integration/kubernetes/runtimeclass_workloads/deployment-expose-ip.yaml
  integration/kubernetes/runtimeclass_workloads/pod-empty-dir-fsgroup.yaml
  integration/kubernetes/runtimeclass_workloads/pod-http-liveness.yaml
  integration/kubernetes/runtimeclass_workloads/pod-tcp-liveness.yaml
Owners: @kata-containers/integration-tests

ci: Switch to http kubernetes mirror
  .ci/install_kubernetes.sh
Owners: @kata-containers/ci, @kata-containers/tests

tensorflow: Add Mobilnet Tensorflow Dockerfile
  metrics/machine_learning/tensorflow_ai_dockerfile/Dockerfile
Owners: @kata-containers/metrics

ci: Switch to http kubernetes mirror
  .ci/install_kubernetes.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci:add qemu vmcache test
  Makefile
  integration/containerd/cri/integration-tests.sh
  integration/containerd/shimv2/shimv2-vmcache-tests.sh
Owners: @kata-containers/tests, @kata-containers/integration-tests

tests: Remove a snap test
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Update jobs flags for measured rootfs
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

temp: just a debug of devmapper test issues
  integration/kubernetes/k8s-configmap.bats
  integration/kubernetes/k8s-copy-file.bats
  integration/kubernetes/k8s-cpu-ns.bats
  integration/kubernetes/k8s-pid-ns.bats
  integration/kubernetes/tests_common.sh
Owners: @kata-containers/integration-tests

checkspelling: Add new words for checkmetrics documentation
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

ci/openshift-ci: Port the job to run on OCP 4.14
  .ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Remove ocp 4.10 support
  .ci/openshift-ci/cluster/deployments/configmap_installer_qemu_4_10.yaml
  .ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 3.1.3
  VERSION
Owners: @kata-containers/release

metrics: Fix non valid results on memory usage inside container
  .ci/run_metrics_PR_ci.sh
  metrics/density/memory_usage_inside_container.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/metrics

libs: remove duplicate line
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

config: add sudo to cp command
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

gpu: Add VRA related words to dictionary
  cmd/check-spelling/data/main.txt
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

run: Bring back k8s tests for dragonball
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

sev: abstract common methods to common source file
  integration/confidential/lib.sh
  integration/kubernetes/confidential/fixtures/service.yaml.in
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/lib.sh
  lib/common.bash
Owners: @kata-containers/integration-tests, @kata-containers/ci

ci: Build generic OVMF for SNP
  .ci/install_kata.sh
  .ci/install_ovmf_sev.sh
  .ci/install_ovmf_x86_64.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add snp kernel build support to install_kata_kernel
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Adding SNP case when building k8s test
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

snp: added snp unencrypted test
  .ci/ci_job_flags.sh
  .ci/install_kata.sh
  .ci/install_kata_image.sh
  .ci/install_qemu.sh
  .ci/install_runtime.sh
  Makefile
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

kubernetes: Renaming kubernetes prefix
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
  integration/kubernetes/lib.sh
  lib/common.bash
Owners: @kata-containers/integration-tests, @kata-containers/ci

confidential: Using pod annotation
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

kubernetes: system logs on SEV tests's teardown()
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

kubernetes: move clean up routines to teardown()
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
Owners: @kata-containers/integration-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
