Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

kata-local-ci: Fix various typos
  cmd/kata-local-ci
Owners: @kata-containers/tools

tests: Add kata-local-ci, a script for local CI testing using libvirt
  .ci/setup_env_centos.sh
  .ci/setup_env_fedora.sh
  .ci/setup_env_ubuntu.sh
  README.md
  cmd/kata-local-ci
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/tools

virtiofsd: Do not install the C version of the daemon (x86_64)
  .ci/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

setup: install openssl(1)
  .ci/setup_env_centos.sh
  .ci/setup_env_fedora.sh
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Don't look for the C version of virtiofsd (x86_64)
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

virtiofsd: install standalone virtiofsd for non-x86_64
  .ci/install_kata.sh
  .ci/install_qemu.sh
  .ci/install_virtiofsd.sh
  .ci/ppc64le/lib_install_qemu_ppc64le.sh
Owners: @kata-containers/ci, @kata-containers/tests

openshift-ci: call to install_virtiofsd.sh
  .ci/openshift-ci/build_install.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: make install_virtiofsd.sh to honor DESTDIR
  .ci/install_virtiofsd.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib.sh: fix sha256sum_from_files() not picking all files
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/lib.sh: fix sha256sum_from_files() not picking all files
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

README: fix broken urls
  README.md
Owners: @kata-containers/documentation

ci: Stop looking for virtiofsd files when installing QEMU
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

crio: Update `latest_release` to v1.24.x
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

crio: Update critools to v1.24.2
  .ci/ci_crio_entry_point.sh
Owners: @kata-containers/ci, @kata-containers/tests

k8s: Untaint control-plane nodes
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

release: Kata Containers 2.4.2
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.5.0-alpha2
  VERSION
Owners: @kata-containers/release

static-checks: accept other http content encoding on url checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

static-checks: accept other http content encoding on url checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

release: Kata Containers 2.4.2
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.5.0-alpha2
  VERSION
Owners: @kata-containers/release

metrics: Enable iperf network jitter
  .ci/run_metrics_PR_ci.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools, @kata-containers/metrics

metrics: Expand cassandra stress write results
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/metrics

kubernetes: Do not build custom stress image for metrics CI
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

ci: ignore license header check for THIRD-PARTY file
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

CCv0: Refactor signature verification PoC changes
  integration/confidential/fixtures/quay_verification/public.gpg
  integration/confidential/fixtures/quay_verification/quay_policy.json
  integration/confidential/fixtures/quay_verification/signatures.tar
  integration/confidential/fixtures/registries.d/quay.io.yaml
  integration/confidential/lib.sh
  integration/containerd/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image.bats
  lib/common.bash
Owners: @kata-containers/integration-tests, @kata-containers/ci

metrics: Add read operation for cassandra benchmark
  metrics/disk/cassandra_kubernetes/cassandra.sh
Owners: @kata-containers/metrics

tests: Remove skip for integration containerd shimv2 tests
  integration/containerd/shimv2/shimv2-tests.sh
Owners: @kata-containers/integration-tests

add sev test
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

tracing: Disable test qemu-devmapper job
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

tracing: Use a socat mirror
  functional/tracing/test-agent-shutdown.sh
Owners: @kata-containers/functional-tests

tracing: Temporarily disable tests
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: fix snap cli option
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Fix snap call in jenkins job build script
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Update cassandra to support block volumes
  metrics/disk/cassandra_kubernetes/cassandra.sh
  metrics/disk/cassandra_kubernetes/runtimeclass_workloads/cassandra-statefulset.yaml
  metrics/disk/cassandra_kubernetes/runtimeclass_workloads/local-volumes.yaml
  metrics/disk/cassandra_kubernetes/volume/block-local-storage.yaml
  metrics/disk/cassandra_kubernetes/volume/block-loop-pv.yaml
  metrics/disk/cassandra_kubernetes/volume/block-loop-pvc.yaml
Owners: @kata-containers/metrics

tracing: Re-enable tests
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Makefile: add cc-sev-containerd target
  Makefile
Owners: @kata-containers/tests

ci: add sev build option for kernel
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: Add Cassandra README
  metrics/README.md
  metrics/disk/README.md
Owners: @kata-containers/metrics

ci: Removing man-db, CI jobs kept failing
  .ci/setup_env_ubuntu.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
