Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

metrics: Update iperf3 values for cloud hypervisor
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric7.toml
Owners: @kata-containers/tools

metrics: Update fio values for cloud hypervisor
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
Owners: @kata-containers/tools

metrics: Update minimum limit for boot time qemu
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric7.toml
Owners: @kata-containers/tools

metrics: Update min and max boot time value for clh
  .ci/setup_env_ubuntu.sh
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-kata-metric7.toml
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

sev: Use RUNTIMECLASS instead of OPERATOR env variable
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

WIP: Debug
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

debug
  .ci/resolve-kata-dependencies.sh
Owners: @kata-containers/ci, @kata-containers/tests

add debug
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

Update debug as it broke version processing
  .ci/install_cri_containerd.sh
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

fixup
  .ci/install_cri_containerd.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: fix relative path in stress tests
  stability/stressng_dockerfile/stressng.sh
Owners: @kata-containers/tests

ci: update flannel to v0.21.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: upgrade flannel to 0.20.2
  integration/kubernetes/init.sh
  versions.yaml
Owners: @kata-containers/integration-tests, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: upgrade flannel to 0.21.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

stability: Add floating and stressor test for stress-ng
  stability/stressng_dockerfile/stressng.sh
Owners: @kata-containers/tests

CC: Revert "CC: Add check in function clone_katacontainers_repo"
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "CC: Add check in function clone_katacontainers_repo for newer code"
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

CI: Relax timeout threshold for flannel
  integration/kubernetes/init.sh
Owners: @kata-containers/integration-tests

CI: Prevent removing cni plugins for retry on baremetal
  integration/kubernetes/cleanup_bare_metal_env.sh
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

makefile: Add stability baremetal tests
  Makefile
Owners: @kata-containers/tests

metrics: Add collection for iperf3 parallel results
  cmd/checkmetrics/history/history.sh
Owners: @kata-containers/tools

vfio: Update fedora image use for vfio
  .ci/vfio_jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

SEV: Add annotation support
  integration/kubernetes/confidential/fixtures/service.yaml.in
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

fix ksm parameter saving
  metrics/lib/common.bash
Owners: @kata-containers/metrics

run.sh: Adapt to installing kata to /opt/kata
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

cri: Adjust Kata Containers configuration path
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

nydus: Adapt tests to /opt/kata
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

ci/lib: add build_static_artifact_and_install()
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-manager: Update to /opt/kata
  cmd/kata-manager/kata-manager.sh
Owners: @kata-containers/tools

ci/install_qemu: build and install with kata-deploy
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

rootless: Adapt to using /opt/kata
  functional/rootless/rootless_test.sh
Owners: @kata-containers/functional-tests

vfio: Adapt tests to the /opt/kata location
  functional/vfio/run.sh
  integration/kubernetes/vfio.sh
Owners: @kata-containers/functional-tests, @kata-containers/integration-tests

metrics: Adapt tests to /opt/kata
  metrics/storage/webtooling.sh
Owners: @kata-containers/metrics

ARM: Adapt script to install to /opt/kata
  .ci/aarch64/install_rom_aarch64.sh
  .ci/install_runtime.sh
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_runtime: build and install with kata-deploy
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

qat: Adapt test to the new deployment location
  integration/qat/qat_test.sh
Owners: @kata-containers/integration-tests

ci/install_cloud_hypervisor: call build_static_artifact_and_install()
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_kata_kernel: build and install with kata-deploy
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_firecracker: build and install with kata-deploy
  .ci/install_firecracker.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/install_kata_image: build and install with kata-deploy
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests
