Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

Revert "Revert "ci/install_kata_kernel: build and install with kata-deploy""
  .ci/install_kata_kernel.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_cloud_hypervisor: call build_static_artifact_and_install()""
  .ci/install_cloud_hypervisor.sh
Owners: @kata-containers/ci, @kata-containers/tests

Revert "Revert "ci/install_cloud_hypervisor: install td-shim alongside clh""
  .ci/install_cloud_hypervisor.sh
  .ci/install_kata.sh
  .ci/install_td_shim.sh
Owners: @kata-containers/ci, @kata-containers/tests

image: Build sev-rootfs-initrd when testing initrd
  .ci/install_kata_image.sh
Owners: @kata-containers/ci, @kata-containers/tests

cmd: Remove blank spaces at history script
  cmd/history/history.sh
Owners: @kata-containers/tools

setup: Start podman.socket when using docker-podman
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: add tests for agent systemd cgroup
  .ci/run.sh
  Makefile
  functional/agent_systemd_cgroup/agent_systemd_cgroup_test.sh
  functional/agent_systemd_cgroup/systemd_config.json.in
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests

ci: Ignore license header check for *.bin files
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Pass gopath when building kata deploy
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

test: debug sgent ystemd cgroup
  integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/integration-tests

ci: Add test cases for measured boot image/rootfs
  integration/confidential/lib.sh
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/asserts.sh
  integration/containerd/confidential/tests_common.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
Owners: @kata-containers/integration-tests

test: cleanup temporary files created by k8s-copy-files.bats
  integration/kubernetes/k8s-copy-file.bats
Owners: @kata-containers/integration-tests

ci: Switch back to virtiofsd on s390x This is to revert the change at #4414 because no error is found on the pod deletion on s390x any more. The error was reported at #3998.
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: drop go get
  .ci/ci-fast-return.sh
  .ci/install_bats.sh
  .ci/install_cni_plugins.sh
  .ci/install_cri_containerd.sh
  .ci/install_crio.sh
  .ci/jenkins_job_build.sh
  .ci/lib.sh
  .ci/resolve-kata-dependencies.sh
  .ci/static-checks.sh
  integration/containerd/cri/integration-tests.sh
  integration/cri-o/cri-o.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

static-check.sh: drop godep checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Simplify aa_kbc_params setting
  integration/confidential/lib.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: install cni after installing containerd/kubernetes
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: clear old cni directory before installing new one
  .ci/install_cni_plugins.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: update cni config
  .ci/configure_cni.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Set-up sig verification config for tests
  integration/confidential/lib.sh
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

sev: update expect kernel params
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

sev: update expect kernel params
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

containerd: fix containerd cri-integration test failure
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

Dragonball: add support for several k8s CI
  integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/integration-tests

ci: install cri-tools when installing containerd
  .ci/install_cri_containerd.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: Add e2e tests for pulling cosign-signed image support
  integration/confidential/fixtures/cosign/offline-fs-kbc/aa-offline_fs_kbc-resources.json
  integration/confidential/fixtures/quay_verification/quay_policy.json
  integration/confidential/lib.sh
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/fixtures/container-config_cosigned-other.yaml
  integration/containerd/confidential/fixtures/container-config_cosigned.yaml
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

ci: Delete all pods after each test Alter the current delete by name to remove all pods instead
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: fix typo Fixed untouched typo
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

Runk: add test case for kill command with --all option
  integration/containerd/runk/runk-tests.sh
Owners: @kata-containers/integration-tests

tests: skip s390x cosign tests
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

confidential/lib: allow to disable configure_cc_containerd()
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

containerd: force to use 1.6.8
  .ci/install_cni_plugins.sh
  .ci/install_cri_containerd.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

metrics: decrease midval of memory-footprint-ksm
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

tests: Replace go get containerd for git clone
  .ci/install_cri_containerd.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

jenkins: install golang after resolving kata dependencies
  .ci/jenkins_job_build.sh
  .ci/static-checks.sh
  cmd/check-markdown/add.go
  cmd/check-markdown/types.go
  cmd/checkmetrics/round_post9_test.go
  cmd/checkmetrics/round_pre10_test.go
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

static-check.sh: drop godep checks
  .ci/static-checks.sh
Owners: @kata-containers/ci, @kata-containers/tests

containerd: fix containerd cri-integration test failure
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

jenkins: install golang after resolving kata dependencies
  .ci/jenkins_job_build.sh
  .ci/static-checks.sh
  cmd/check-markdown/add.go
  cmd/check-markdown/types.go
  cmd/checkmetrics/round_post9_test.go
  cmd/checkmetrics/round_pre10_test.go
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

ci: install cni after installing containerd/kubernetes
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

metrics: decrease midval of memory-footprint-ksm
  cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
