Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

tracing: ensure reproducible builds
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

tracing: ensure reproducible builds
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
Owners: @kata-containers/functional-tests

sev: fixed k8s service yaml delete method
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

simple-kbs: update git tag for checkout to 'v0.1.3'
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

ci: Add test cases for CoCo sealed secret feature
  Makefile
  integration/confidential/fixtures/sealed-secret/offline-fs-kbc/aa-offline_fs_kbc-resources.json
  integration/confidential/lib.sh
  integration/kubernetes/confidential/fixtures/pod-config-secret.yaml.in
  integration/kubernetes/confidential/sealed_secret.bats
Owners: @kata-containers/tests, @kata-containers/integration-tests

CCv0: Add -w to iptables in configure_cc_containerd
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

tests: Refactor out common functions
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/confidential/tests_common.sh
Owners: @kata-containers/integration-tests

integration: update nydus tests
  integration/nydus/nydus_tests.sh
  integration/nydus/nydusd-config.json
  integration/nydus/snapshotter-config.toml
Owners: @kata-containers/integration-tests

nydus: Skip tests on dragonball for now
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

ci: Ensure we have yq installed
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add FORKED_CONTAINERD env var to the tests
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

containerd: Install accordingly to FORKED_CONTAINERD
  .ci/install_cri_containerd.sh
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

nydus: Skip tests on dragonball for now
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

integration: update nydus tests
  integration/nydus/nydus_tests.sh
  integration/nydus/nydusd-config.json
  integration/nydus/snapshotter-config.toml
Owners: @kata-containers/integration-tests

.ci: add function to install vanilla containerd
  .ci/install_cri_containerd.sh
  .ci/lib.sh
  integration/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: install nydus snapshotter
  .ci/ci_job_flags.sh
  .ci/install_nydus_snapshotter.sh
  .ci/lib.sh
  .ci/setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add test cases for CoCo image pulling without forked containerd
  .ci/install_nydus_snapshotter.sh
  Makefile
  integration/confidential/lib.sh
  integration/containerd/confidential/tests_common.sh
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/fixtures/pod-config.yaml.in
  integration/kubernetes/confidential/image_pulling_with_snapshotter.bats
  integration/kubernetes/confidential/lib.sh
  integration/kubernetes/confidential/sealed_secret.bats
  integration/kubernetes/confidential/sev.bats
  integration/kubernetes/confidential/snp.bats
  integration/kubernetes/confidential/tests_common.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: CC | Add a new job to pull image inside the guest
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: install nydus snapshotter
  .ci/install_nydus_snapshotter.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: containerd_nydus_setup
  .ci/containerd_nydus_setup.sh
  .ci/run.sh
  integration/confidential/lib.sh
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/confidential/tests_common.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

ci: CC | Add two new jobs for pull on host
  .ci/ci_job_flags.sh
  .ci/run.sh
  integration/confidential/lib.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

nydus: Add a debug state to ease debug
  .ci/containerd_nydus_setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

agent_image: Switch order of tests 4 and 5
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

tests: Registry cred for image pull
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/fixtures/pod-config.yaml.in
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

Add debug
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

Add snapshotter debug
  .ci/containerd_nydus_setup.sh
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

.ci: build nydus image binary
  .ci/install_nydus_snapshotter.sh
Owners: @kata-containers/ci, @kata-containers/tests

.ci: build nydus image binary
  .ci/install_nydus_snapshotter.sh
Owners: @kata-containers/ci, @kata-containers/tests

add containerd debug log
  integration/kubernetes/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

spell: adding executables to the ignore list
  cmd/check-spelling/data/main.txt
Owners: @kata-containers/tools

ci: Stop testing the forked containerd
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: tests: Add dummy AA file
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: containerd_nydus_setup
  .ci/containerd_nydus_setup.sh
  .ci/run.sh
  integration/confidential/lib.sh
  integration/containerd/confidential/run_tests.sh
  integration/containerd/confidential/tests_common.sh
  integration/kubernetes/cleanup_env.sh
  integration/kubernetes/confidential/tests_common.sh
  integration/kubernetes/init.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

test: sev: Update failure check
  integration/kubernetes/confidential/sev.bats
Owners: @kata-containers/integration-tests

ci: install nydus snapshotter
  .ci/install_nydus_snapshotter.sh
Owners: @kata-containers/ci, @kata-containers/tests

nydus: Add a debug state
  .ci/containerd_nydus_setup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: test: k8s: agent_image
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/fixtures/pod-config.yaml.in
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: test: containerd: agent_image fix log check
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

ci: test: containerd: agent_image credentials
  integration/containerd/confidential/agent_image.bats
  integration/containerd/confidential/lib.sh
Owners: @kata-containers/integration-tests

ci: test: containerd: agent_image
  integration/containerd/confidential/agent_image.bats
Owners: @kata-containers/integration-tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
