Repository kata-containers/tests, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci, @kata-containers/documentation, @kata-containers/tools, @kata-containers/functional-tests, @kata-containers/integration-tests, @kata-containers/metrics, @kata-containers/platforms

Adding sev test.
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

ci: introduce CC_SEV_CRI_CONTAINERD_K8S job type
  .ci/ci_job_flags.sh
  .ci/run.sh
Owners: @kata-containers/ci, @kata-containers/tests

Adding sev test.
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

add sev test
  functional/sev/run.sh
Owners: @kata-containers/functional-tests

ci/cd: testing timactions regex
  .github/workflows/check-commits.yaml
Owners: @kata-containers/tests

ci: fix snap cli option
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove unused variable for KATA_OBS_REPO
  .ci/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/cd: testing timactions regex
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/check-commits.yaml
  .github/workflows/main.yml
Owners: @kata-containers/tests

ci/cd: removed checks not being tested
  .github/workflows/PR-wip-checks.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/main.yml
Owners: @kata-containers/tests

integration/containerd: Update crictl pod config
  integration/containerd/confidential/fixtures/pod-config.yaml.in
  integration/containerd/confidential/lib.sh
  integration/containerd/confidential/tests_common.sh
Owners: @kata-containers/integration-tests

containerd/cri: Add uid to crictl pod
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

kata-monitor: Add uid to kata-monitor crictl pod
  functional/kata-monitor/run.sh
Owners: @kata-containers/functional-tests

nydus: Add uid to crictl pod config
  integration/nydus/nydus-sandbox.yaml
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

kata-monitor: Add uid to kata-monitor crictl pod
  functional/kata-monitor/run.sh
Owners: @kata-containers/functional-tests

containerd/cri: Add uid to crictl pod
  integration/containerd/cri/integration-tests.sh
Owners: @kata-containers/integration-tests

nydus: Add uid to crictl pod config
  integration/nydus/nydus-sandbox.yaml
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/integration-tests

metrics: Add --numjobs flag support for FIO test
  metrics/storage/fio-k8s/cmd/fiotest/main.go
Owners: @kata-containers/metrics

metrics: Remove unused density toml
  cmd/checkmetrics/baseline/density-CI.toml
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
Owners: @kata-containers/tools

versions: Bump flannel to v0.18.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

ci: Adjust configure_cni.sh to use CNI "1.0.0"
  .ci/configure_cni.sh
  .ci/install_cni_plugins.sh
  integration/containerd/cri/integration-tests.sh
  integration/containerd/shimv2/shimv2-tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

CCv0: Kubernetes CC pod creation with encrypted image
  .ci/ci_job_flags.sh
  .ci/install_kata_image.sh
  Makefile
  integration/kubernetes/confidential/agent_image.bats
  integration/kubernetes/confidential/agent_image_encrypted.bats
  integration/kubernetes/confidential/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/integration-tests

metrics: Redirect output for FIO benchmark
  metrics/storage/fio-k8s/cmd/fiotest/main.go
Owners: @kata-containers/metrics

integration: re-enable persistent volume test
  integration/kubernetes/k8s-volume.bats
Owners: @kata-containers/integration-tests

metrics: Enable cpu utilization with iperf3
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/tools, @kata-containers/metrics

ci: Replace checkcommits with Github Action
  .ci/static-checks.sh
  .github/workflows/commit-message-check.yaml
  Makefile
  cmd/README.md
  cmd/checkcommits/Makefile
  cmd/checkcommits/README.md
  cmd/checkcommits/VERSION
  cmd/checkcommits/checkcommits.go
  cmd/checkcommits/checkcommits_test.go
  cmd/checkcommits/go.mod
  cmd/checkcommits/go.sum
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/tools

confidential: Adjust switch_image_service_offload()
  integration/confidential/lib.sh
Owners: @kata-containers/integration-tests

metrics: Add iperf3 parallel measurements
  cmd/checkmetrics/ci_worker/checkmetrics-json-cloud-hypervisor-sv-c1-small-x86-01.toml
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/tools, @kata-containers/metrics

metrics: Create a common for kubernetes
  .ci/run_metrics_PR_ci.sh
  metrics/lib/common.bash
  metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/metrics

release: Kata Containers 2.5.0-rc0
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.4.3
  VERSION
Owners: @kata-containers/release

ci: change commit body line limit from 72 to 150
  .github/workflows/commit-message-check.yaml
Owners: @kata-containers/tests

build rust runtime for dragonball hypervisor
  .ci/install_kata.sh
  .ci/install_runtime.sh
Owners: @kata-containers/ci, @kata-containers/tests

spell-check: Add 'rustlang' to spell check dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

build: Enable QEMU cache for s390x
  .ci/install_qemu.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Add support for ubuntu 22.04
  .ci/run.sh
  .ci/setup_env_ubuntu.sh
  functional/kata-monitor/run.sh
  functional/tracing/test-agent-shutdown.sh
  functional/tracing/tracing-test.sh
  functional/vcpus/default_vcpus_test.sh
  integration/ksm/ksm_test.sh
  integration/kubernetes/k8s-hugepages.bats
  integration/nydus/nydus_tests.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/functional-tests, @kata-containers/integration-tests

Dragonball: add dragonball to check-spelling dictionary
  cmd/check-spelling/data/projects.txt
Owners: @kata-containers/tools

ci: Allow commits to start with 'Merge' instead of subsystem
  .github/workflows/commit-message-check.yaml
Owners: @kata-containers/tests

metrics: Support sync engine configuration for FIO tests
  metrics/storage/fio-k8s/configs/example-config/fio-jobs/randrw-sync.job
Owners: @kata-containers/metrics

build: Make test into several sub-tests
  .ci/jenkins_job_build.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: Remove duplicated kubernetes flag
  .ci/ci_job_flags.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright 2019 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

# Default rule
*				@kata-containers/tests

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

*.md				@kata-containers/documentation

.ci/				@kata-containers/ci @kata-containers/tests

# FIXME: need to create the "tools" team
/cmd/				@kata-containers/tools

/lib/				@kata-containers/ci

# FIXME: need to create the "functional-tests" team
/functional/			@kata-containers/functional-tests

# FIXME: need to create the "integration-tests" team
/integration/			@kata-containers/integration-tests

# FIXME: need to create the "metrics" team
/metrics/			@kata-containers/metrics

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms
